<div id="pam_items">
  <ol class="breadcrumb">
    <li>CAPEX</li>
    <li><%= link_to 'PAM ITEM列表', pam_items_path %></li>
    <li>{{action}}</li>
  </ol>

  <hr class="hr-grey"/>

  <%= form_for(pam_item) do |f| %>

      <% if pam_item.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(pam_item.errors.count, "error") %> prohibited this pam_item from being saved:</h2>
            <ul>
              <% pam_item.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="marco-npanel-default">
        <div class="marco-nheading">
          {{action}}
          <div class="pull-right">
            <button type="submit" class="marco-btn-normal">{{actionBtn}}</button>
          </div>
        </div>
        <div class="marco-nbody row">
          <% if current_user.admin? || current_user.capex_manager? || current_user.assistant? || current_user.manager? || current_user.planning_charge? || current_user.planning_engineer? %>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <%= f.label :pa_no, 'PA NO' %>
                  <%= f.text_field :pa_no %>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <span>描述</span>
                  <%= f.text_field :description %>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <span>数量</span>
                  <%= f.text_field :qty %>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <%= f.label :asset_nrs, '固定资产号' %>
                  <%= f.text_field :asset_nrs %>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <%= f.label :remark, '备注' %>
                  <%= f.text_field :remark %>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <%= f.label :total_cost, '总价' %>
                  <%= f.text_field :total_cost %>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <%= f.label :applicant, '申请人' %>
                  <%= f.text_field :applicant %>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <%= f.label :applicant_date, '申请日期' %>
                  <%= f.date_field :applicant_date %>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <%= f.label :supplier, '供应商' %>
                  <%= f.text_field :supplier %>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <%= f.label :arrive_date, '到达日期' %>
                  <%= f.text_field :arrive_date %>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <%= f.label :final_release, '请购单签字' %>
                  <%= f.check_box :final_release %>
                </div>
              </div>
          <% end %>
          <% if current_user.admin? || current_user.capex_manager? || current_user.purchase_manager? %>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <%= f.label :po_no, 'PO NO' %>
                  <%= f.text_field :po_no %>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <%= f.label :po_cost, '采购单金额' %>
                  <%= f.text_field :po_cost %>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <%= f.label :invoice_prepared, '发票准备状态' %>
                  <%= f.check_box :invoice_prepared %>
                </div>
              </div>
          <% end %>

          <% if current_user.admin? || current_user.capex_manager? || current_user.equipment_manager? %>

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <%= f.label :completed_date, '竣工日期' %>
                  <%= f.text_field :completed_date %>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <%= f.label :completed_id, '竣工单号' %>
                  <%= f.text_field :completed_id %>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <%= f.label :completed_status, '竣工状态' %>
                  <%= f.text_field :completed_status %>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <%= f.label :completed_amount, '竣工金额' %>
                  <%= f.text_field :completed_amount %>
                </div>
              </div>
          <% end %>

          <% if current_user.admin? || current_user.capex_manager? || current_user.finance_manager? %>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <%= f.label :booking_status %>
                  <%= f.check_box :booking_status %>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-oee">
                  <%= f.label :final_cost %>
                  <%= f.text_field :final_cost %>
                </div>
              </div>
          <% end %>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <%= f.label :pam_list_id, 'PAM ID' %>
              <%= f.select(:pam_list_id, PamList.all.collect { |p| [p.nr, p.id] }, {include_blank: false}) %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>