<!DOCTYPE html>
<html>
  <head>
    <title>OeeServer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
  </head>

  <body>
  <ul>
    <li class="navbar-font" style="margin-right:20px;" title="logout" data-toggle="tooltip" data-placement="bottom">
      <%= link_to current_user.email, destroy_user_session_path, method: :delete %>
      </a>
    </li>
  </ul>

    <%= yield %>
  </body>

  <%= yield :javascript_includes %>
</html>
