<!DOCTYPE html>
<html>
<head>
  <title>OeeServer</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
</head>

<body>
<div class="main">
  <div class="main-nav">
    <ul class="first-nav">
      <li class="nav-active nav-home">
        <%= link_to content_tag(:i, '', :class => 'fa fa-home'), root_path, :title => '主页' %>
        <span>主页</span>
      </li>

      <li class="nav-users">
        <%= link_to content_tag(:i, '', :class => 'fa fa-users'), users_path, :title => '用户管理' %>
        <span>用户</span>
      </li>

      <li class="nav-basic">
        <a href="#">
          <i class="fa fa-hdd-o"></i>
        </a>
        <span>基础</span>
        <ul>
          <li class="nav-crafts">
            <i class="fa fa-gavel"></i>
            <%= link_to content_tag(:span, '工艺'), crafts_path, :title => '工艺' %>
          </li>

          <li class="nav-departments">
            <i class="fa fa-tasks"></i>
            <%= link_to content_tag(:span, '部门'), departments_path, :title => '部门' %>
          </li>

          <li class="nav-downtime_types">
            <i class="fa fa-th-list"></i>
            <%= link_to content_tag(:span, '停机类型'), downtime_types_path, :title => '停机类型' %>
          </li>

          <li class="nav-downtime_codes">
            <i class="fa fa-list-ol"></i>
            <%= link_to content_tag(:span, '停机代码'), downtime_codes_path, :title => '停机代码' %>
          </li>

          <li class="nav-work_times">
            <i class="fa fa-list-ol"></i>
            <%= link_to content_tag(:span, '标准工时'), work_times_path, :title => '标准工时' %>
          </li>

          <li class="nav-machine_types">
            <i class="fa fa-th-list"></i>
            <%= link_to content_tag(:span, '机器类型'), machine_types_path, :title => '机器类型' %>
          </li>

          <li class="nav-machines">
            <i class="fa fa-file-text"></i>
            <%= link_to content_tag(:span, '机台信息'), machines_path, :title => '机台信息' %>
          </li>

          <li class="nav-work_shifts">
            <i class="fa fa-sort-numeric-asc"></i>
            <%= link_to content_tag(:span, '班次设置'), work_shifts_path, :title => '班次设置' %>
          </li>

          <li class="nav-holidays">
            <i class="fa fa-calendar"></i>
            <%= link_to content_tag(:span, '节假日'), holidays_path, :title => '节假日' %>
          </li>
        </ul>
      </li>

      <li class="nav-oee">
        <a href="#">
          <i class="fa fa-bar-chart"></i>
        </a>
        <span>OEE</span>

        <ul>
          <li class="nav-downtime_records">
            <i class="fa fa-file-text"></i>
            <%= link_to content_tag(:span, '停机记录'), downtime_records_path, :title => '停机记录' %>
          </li>

          <li class="nav-display_downtime_records">
            <i class="fa fa-bar-chart"></i>
            <%= link_to content_tag(:span, '停机报告'), display_downtime_records_path, :title => '停机报告' %>
          </li>
        </ul>
      </li>


      <li style="position: absolute;bottom: 0;width:100%; text-align:center;">
        <%= link_to content_tag(:i, '', :class => 'fa fa-power-off'), destroy_user_session_path, method: :delete %>
        <span title="<%= current_user.email %>"><%= current_user.name %></span>
      </li>
    </ul>
  </div>

  <div class="main-content">
    <%= yield %>

    <%= render 'layouts/HandlingMsgDialog' %>
  </div>
</div>

<script type="text/javascript">
  layout.init();
</script>
</body>

<%= yield :javascript_includes %>
</html>
