<p id="notice"><%= notice %></p>

<h1>Equipment Releases</h1>

<table>
  <thead>
    <tr>
      <th>Equipment track</th>
      <th>Release index</th>
      <th>Release time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment_releases.each do |equipment_release| %>
      <tr>
        <td><%= equipment_release.equipment_track %></td>
        <td><%= equipment_release.release_index %></td>
        <td><%= equipment_release.release_time %></td>
        <td><%= link_to 'Show', equipment_release %></td>
        <td><%= link_to 'Edit', edit_equipment_release_path(equipment_release) %></td>
        <td><%= link_to 'Destroy', equipment_release, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment Release', new_equipment_release_path %>
