<p id="notice"><%= notice %></p>

<h1>Downtime Types</h1>
<div>
  <%= link_to '导入数据', import_downtime_types_path, :class => 'btn btn-primary'%>
</div>


<div class="col-sm-12">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @downtime_types %>
    </div>
    <%= will_paginate @downtime_types, :container => false %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>NO.</th>
      <th>Nr</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @downtime_types.each_with_index do |downtime_type, index| %>
      <tr>
        <td><%= index+@downtime_types.offset+1 %></td>
        <td><%= downtime_type.nr %></td>
        <td><%= downtime_type.name %></td>
        <td><%= downtime_type.description %></td>
        <td><%= link_to 'Show', downtime_type %></td>
        <td><%= link_to 'Edit', edit_downtime_type_path(downtime_type) %></td>
        <td><%= link_to 'Destroy', downtime_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @downtime_types, :container => false %>
</div>

<%= link_to 'New Downtime Type', new_downtime_type_path %>
