<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :role %>
    <%= f.number_field :role %>
  </div>

  <div class="field">
    <%= f.label :is_system %>
    <%= f.number_field :is_system %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :encrypted_password %>
    <%= f.text_field :encrypted_password %>
  </div>

  <div class="field">
    <%= f.label :reset_password_token %>
    <%= f.text_field :reset_password_token %>
  </div>

  <div class="field">
    <%= f.label :reset_password_sent_at %>
    <%= f.text_field :reset_password_sent_at %>
  </div>

  <div class="field">
    <%= f.label :remember_created_at %>
    <%= f.text_field :remember_created_at %>
  </div>

  <div class="field">
    <%= f.label :sign_in_count %>
    <%= f.number_field :sign_in_count %>
  </div>

  <div class="field">
    <%= f.label :current_sign_in_at %>
    <%= f.text_field :current_sign_in_at %>
  </div>

  <div class="field">
    <%= f.label :last_sign_in_at %>
    <%= f.text_field :last_sign_in_at %>
  </div>

  <div class="field">
    <%= f.label :current_sign_in_ip %>
    <%= f.text_field :current_sign_in_ip %>
  </div>

  <div class="field">
    <%= f.label :last_sign_in_ip %>
    <%= f.text_field :last_sign_in_ip %>
  </div>

  <div class="field">
    <%= f.label :failed_attempts %>
    <%= f.number_field :failed_attempts %>
  </div>

  <div class="field">
    <%= f.label :unlock_token %>
    <%= f.text_field :unlock_token %>
  </div>

  <div class="field">
    <%= f.label :locked_at %>
    <%= f.text_field :locked_at %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
