<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
  <li>用户</li>
  <li>用户列表</li>
</ol>

<hr class="hr-grey"/>

<div class="marco-npanel-default">
  <div class="marco-nheading">
    用户列表
    <div class="pull-right">

      <%= link_to content_tag(:i, content_tag(:span, " 新建"), :class => "fa fa-plus-square"), new_user_path %>

    </div>
  </div>
  <table class="marco-nbody table table-bordered">
    <thead>
    <tr>
      <th>NO</th>
      <th>姓名</th>
      <th>角色</th>
      <th>邮箱</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% @users.each_with_index do |user, index| %>
        <tr>
          <td><%= index+@users.offset+1 %></td>
          <td><%= user.name %></td>
          <td><%= Role.display(user.role) %></td>
          <td><%= user.email %></td>
          <td>
            <!--信息量太少， 去掉显示详情-->
            <%#= link_to 'Show', user %>

            <%= link_to content_tag(:i, '', :class => 'fa fa-pencil'), edit_user_path(user), :class => "marco-btn-primary", :title => "编辑" %>

            <%= link_to content_tag(:i, '', :class => 'fa fa-close'), user, method: :delete, data: {confirm: 'Are you sure?'}, :class => "marco-btn-danger", :title => "删除" %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="digg_pagination">
  <%= will_paginate @users, :container => false %>
</div>

<script type="text/javascript" charset="utf-8">
    layout.notice('popMsg-danger', $('#notice').html());
</script>
