<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li>盘点管理</li>
  <li>盘点任务分配</li>
</ol>

<hr class="hr-grey"/>
<div class="marco-npanel-default">
  <div class="marco-nheading">
    设备跟踪列表
    <div class="pull-right">
      <%= link_to content_tag(:i, content_tag(:span, "新建"), :class => "fa fa-plus-square"), new_user_area_item_path %>
    </div>
  </div>


  <div class="marco-nbody" style="overflow: auto; padding: 0;">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>User</th>
        <th>Area</th>
        <th>操作</th>
      </tr>
      </thead>



      <% @user_area_items.each do |user_area_item| %>
          <tr>
            <td><%= user_area_item.user.name %></td>
            <td><%= user_area_item.area.desc %></td>
            <td>
              <%#= link_to content_tag(:i, '', :class => 'fa fa-eye'), user_area_item, :class => "marco-btn-success", :title => "详情" %>
              <%= link_to content_tag(:i, '', :class => 'fa fa-pencil'), edit_user_area_item_path(user_area_item), :class => "marco-btn-primary", :title => "编辑" %>
              <%= link_to content_tag(:i, '', :class => 'fa fa-close'), user_area_item, :class => "marco-btn-danger", :title => "删除" %>
            </td>

          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <br>
</div>
<br>


<div class="digg_pagination">
  <%= will_paginate @user_area_items, :container => false, params: params.to_unsafe_h %>
</div>
<br>
