<p id="notice"><%= notice %></p>

<h1>User Area Items</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_area_items.each do |user_area_item| %>
      <tr>
        <td><%= user_area_item.user.name %></td>
        <td><%= user_area_item.area.desc %></td>
        <td><%= link_to 'Show', user_area_item %></td>
        <td><%= link_to 'Edit', edit_user_area_item_path(user_area_item) %></td>
        <td><%= link_to 'Destroy', user_area_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Area Item', new_user_area_item_path %>
