<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li>基础数据</li>
  <li>停机代码</li>
</ol>

<hr class="hr-grey"/>

<div class="marco-npanel-default">
  <div class="marco-nheading">
    工艺列表
    <div class="pull-right">
      <%= link_to content_tag(:i, content_tag(:span, "导入数据 "), :class => "fa fa-cloud-upload"), import_downtime_codes_path %>

      <%= link_to content_tag(:i, content_tag(:span, "新建"), :class => "fa fa-plus-square"), new_downtime_code_path %>
    </div>
  </div>

  <table class="marco-nbody table table-bordered">
    <thead>
    <tr>
      <th>NO</th>
      <th>代码</th>
      <th>停机类型</th>
      <th>描述</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% @downtime_codes.each_with_index do |downtime_code, index| %>
        <tr>
          <td><%= index+@downtime_codes.offset+1 %></td>
          <td><%= downtime_code.nr %></td>
          <td><%= downtime_code.downtime_type.name %></td>
          <td><%= downtime_code.description %></td>
          <td>
            <%#= link_to 'Show', downtime_code %>

            <%= link_to content_tag(:i, '', :class => 'fa fa-pencil'), edit_downtime_code_path(downtime_code), :class => "marco-btn-primary", :title => "编辑" %>

            <%= link_to content_tag(:i, '', :class => 'fa fa-close'), downtime_code, method: :delete, data: {confirm: 'Are you sure?'}, :class => "marco-btn-danger", :title => "删除" %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="col-sm-12">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @downtime_codes %>
    </div>
    <%= will_paginate @downtime_codes, :container => false %>
  </div>
</div>

<div class="digg_pagination">
  <%= will_paginate @downtime_codes, :container => false %>
</div>