<p id="notice"><%= notice %></p>

<p>
  <strong>Fix asset track:</strong>
  <%= @asset_balance_item.fix_asset_track.nr %>
</p>

<p>
  <strong>Cap date:</strong>
  <%= @asset_balance_item.cap_date %>
</p>

<p>
  <strong>Profit center:</strong>
  <%= @asset_balance_item.bu.finance_nr %>
</p>

<p>
  <strong>Asset description:</strong>
  <%= @asset_balance_item.asset_description %>
</p>

<p>
  <strong>Acquis val:</strong>
  <%= @asset_balance_item.acquis_val %>
</p>

<p>
  <strong>Accum dep:</strong>
  <%= @asset_balance_item.accum_dep %>
</p>

<p>
  <strong>Book val:</strong>
  <%= @asset_balance_item.book_val %>
</p>

<p>
  <strong>Asset class:</strong>
  <%= @asset_balance_item.asset_class %>
</p>

<p>
  <strong>Inventory nr:</strong>
  <%= @asset_balance_item.inventory_nr %>
</p>

<p>
  <strong>Ts equipment nr:</strong>
  <%= @asset_balance_item.ts_equipment_nr %>
</p>

<p>
  <strong>Ts project:</strong>
  <%= @asset_balance_item.ts_project %>
</p>

<p>
  <strong>Ts inventory user:</strong>
  <%= @asset_balance_item.ts_inventory_user.name %>
</p>

<p>
  <strong>Ts keeper:</strong>
  <%= @asset_balance_item.ts_keeper %>
</p>

<p>
  <strong>Ts position:</strong>
  <%= @asset_balance_item.ts_position %>
</p>

<p>
  <strong>Ts nameplate track:</strong>
  <%= @asset_balance_item.ts_nameplate_track %>
</p>

<p>
  <strong>Ts type:</strong>
  <%= @asset_balance_item.ts_type %>
</p>

<p>
  <strong>Ts equipment type:</strong>
  <%= @asset_balance_item.ts_equipment_type %>
</p>

<p>
  <strong>Ts area:</strong>
  <%= @asset_balance_item.ts_area.name %>
</p>

<p>
  <strong>Ts supplier:</strong>
  <%= @asset_balance_item.ts_supplier %>
</p>

<p>
  <strong>Status:</strong>
  <%= @asset_balance_item.status %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @asset_balance_item.remark %>
</p>

<p>
  <strong>Ts inventory result:</strong>
  <%= @asset_balance_item.ts_inventory_result %>
</p>

<p>
  <strong>资产转出:</strong>
  <%= AssetMoveEnum.display(@asset_balance_item.is_move) %>
</p>

<%= link_to 'Edit', edit_asset_balance_item_path(@asset_balance_item) %> |
<%= link_to 'Back', asset_balance_lists_path %>
