<%= form_for(budget_item) do |f| %>
  <% if budget_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget_item.errors.count, "error") %> prohibited this budget_item from being saved:</h2>

      <ul>
      <% budget_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :qty %>
    <%= f.number_field :qty %>
  </div>

  <div class="field">
    <%= f.label :unit_price %>
    <%= f.text_field :unit_price %>
  </div>

  <div class="field">
    <%= f.label :total_price %>
    <%= f.text_field :total_price %>
  </div>

  <div class="field">
    <%= f.label :budget_id %>
    <%= f.select(:budget_id, Budget.all.collect{|b| [b.code, b.id]}, {include_blank: false}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
