<p id="notice"><%= notice %></p>

<h1>Budget Items</h1>

<table class="table">
  <thead>
    <tr>
      <th>Qty</th>
      <th>Unit price</th>
      <th>Total price</th>
      <th>Budget</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budget_items.each do |budget_item| %>
      <tr>
        <td><%= budget_item.qty %></td>
        <td><%= budget_item.unit_price %></td>
        <td><%= budget_item.total_price %></td>
        <td><%= budget_item.budget.code %></td>
        <td><%= link_to 'Show', budget_item %></td>
        <td><%= link_to 'Edit', edit_budget_item_path(budget_item) %></td>
        <td><%= link_to 'Destroy', budget_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Budget Item', new_budget_item_path %>
