<style type="text/css">
  span {
    min-width: 100px !important;
  }
</style>

<div id="downtime_records">
  <ol class="breadcrumb">
    <li>基础数据</li>
    <li><%= link_to '停机记录', downtime_records_path %></li>
    <li>{{action}}</li>
  </ol>

  <hr class="hr-grey"/>

  <%= form_for(downtime_record) do |f| %>
      <% if downtime_record.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(downtime_record.errors.count, "error") %> prohibited this downtime_record from being
              saved:</h2>

            <ul>
              <% downtime_record.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="marco-npanel-default">
        <div class="marco-nheading">
          {{action}}
          <div class="pull-right">
            <button type="submit" class="marco-btn-normal">{{actionBtn}}</button>
          </div>
        </div>

        <div class="marco-nbody row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>工厂</span>
              <%= f.text_field :fors_werk %>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>订单号</span>
              <%= f.text_field :fors_faufnr %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>订单序号</span>
              <%= f.text_field :fors_faufpo %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>fors_lnr</span>
              <%= f.text_field :fors_lnr %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>机台</span>
              <%= f.text_field :machine_id %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>班次</span>
              <%= f.text_field :pk_sch %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>入账日期</span>
              <%= f.text_field :pk_datum %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>pk_sch_std</span>
              <%= f.text_field :pk_sch_std %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>班组</span>
              <%= f.text_field :pk_sch_t %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>工艺</span>
              <%= f.text_field :craft_id %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>标准操作工时(min)</span>
              <%= f.text_field :pd_teb %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>产量</span>
              <%= f.text_field :pd_stueck %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>生产前报废</span>
              <%= f.text_field :pd_auss_ruest %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>生产过程报废</span>
              <%= f.text_field :pd_auss_prod %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>订单+序号</span>
              <%= f.text_field :pd_bemerk %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>账号</span>
              <%= f.text_field :pd_user %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>实际生产日期</span>
              <%= f.text_field :pd_erf_dat %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>停机开始</span>
              <%= f.text_field :pd_von %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>停机结束</span>
              <%= f.text_field :pd_bis %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>停机代码</span>
              <%= f.text_field :downtime_code_id %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>停机时间(H)</span>
              <%= f.text_field :pd_std %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>线长(mm)</span>
              <%= f.text_field :pd_laenge %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>pd_rf</span>
              <%= f.text_field :pd_rf %>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>is_naturl</span>
              <%= f.text_field :is_naturl %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>


<!--<div class="field">-->
<!--<%#= f.label :fors_werk %>-->
<!--<%#= f.text_field :fors_werk %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :fors_faufnr %>-->
<!--<%#= f.text_field :fors_faufnr %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :fors_faufpo %>-->
<!--<%#= f.text_field :fors_faufpo %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :fors_lnr %>-->
<!--<%#= f.text_field :fors_lnr %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :machine_id %>-->
<!--<%#= f.text_field :machine_id %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :pk_sch %>-->
<!--<%#= f.text_field :pk_sch %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :pk_datum %>-->
<!--<%#= f.text_field :pk_datum %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :pk_sch_std %>-->
<!--<%#= f.text_field :pk_sch_std %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :pk_sch_t %>-->
<!--<%#= f.text_field :pk_sch_t %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :craft_id %>-->
<!--<%#= f.text_field :craft_id %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :pd_teb %>-->
<!--<%#= f.text_field :pd_teb %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :pd_stueck %>-->
<!--<%#= f.text_field :pd_stueck %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :pd_auss_ruest %>-->
<!--<%#= f.text_field :pd_auss_ruest %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :pd_auss_prod %>-->
<!--<%#= f.text_field :pd_auss_prod %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :pd_bemerk %>-->
<!--<%#= f.text_field :pd_bemerk %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :pd_user %>-->
<!--<%#= f.text_field :pd_user %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :pd_erf_dat %>-->
<!--<%#= f.text_field :pd_erf_dat %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :pd_von %>-->
<!--<%#= f.text_field :pd_von %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :pd_bis %>-->
<!--<%#= f.text_field :pd_bis %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :downtime_code_id %>-->
<!--<%#= f.text_field :downtime_code_id %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :pd_std %>-->
<!--<%#= f.text_field :pd_std %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :pd_laenge %>-->
<!--<%#= f.text_field :pd_laenge %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :pd_rf %>-->
<!--<%#= f.text_field :pd_rf %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<%#= f.label :is_naturl %>-->
<!--<%#= f.text_field :is_naturl %>-->
<!--</div>-->

<!--<div class="actions">-->
<!--<%#= f.submit %>-->
<!--</div>-->
