<ol class="breadcrumb">
  <li>基础数据</li>
  <li>停机报告</li>
</ol>

<hr class="hr-grey"/>

<!--搜索-->
<form method="get" action="<%= send("display_downtime_records_path") %>">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>机器号</span>
      <%= select_tag('machine_id', options_from_collection_for_select(Machine.all, :id, :nr, @machine_id), include_blank: true) %>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>机器类型</span>
      <%= select_tag('machine_type_id', options_from_collection_for_select(MachineType.all, :id, :nr, @machine_type_id), include_blank: true) %>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>展示角度</span>
      <%= select_tag('dimensionality', options_for_select(DimensionalityEnum.menu, @dimensionality), include_blank: true) %>
    </div>
  </div>

  <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>查询日期</span>
      <input type="text" name="time_start" class="datepicker" value="<%= @time_start %>"/>
      <span>~</span>
      <input type="text" name="time_end" class="datepicker" value="<%= @time_end %>"/>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top:5px;">
    <input type="submit" value="查 找" class="marco-btn-oee" style="height: 30px;"/>
  </div>
</form>

<!--TODO:显示 OEE停机报告 图表-->

<!-- 不需要 图表， 不需要分页-->
<% if @dimensionality==DimensionalityEnum::MACHINE %>
    <% if true %>
        <div class="col-sm-12">
          <div class="digg_pagination">
            <div class="page_info">
              <%= page_entries_info @calc_result %>
            </div>
            <%= will_paginate @calc_result, :container => false %>
          </div>
        </div>
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>NO.</th>
            <th>机器号</th>
            <th>机器类型</th>
            <th>oee</th>
            <th>availability</th>
            <th>performance</th>
          </tr>
          </thead>
          <tbody>
          <% @calc_result.each_with_index do |result, i| %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= result[:machine].nr %></td>
                <td><%= result[:machine].machine_type.nr %></td>
                <td><%= result[:availability] * result[:performance] %></td>
                <td><%= result[:availability] %></td>
                <td><%= result[:performance] %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <div class="digg_pagination">
          <%= will_paginate @calc_result, :container => false %>
        </div>

    <% else %>

        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>NO.</th>
            <th>机器号</th>
            <% DowntimeType.pluck(:nr).each do |nr| %>
                <th><%= nr %></th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% @downtime.keys.each_with_index do |key, i| %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= key %></td>
                <% DowntimeType.pluck(:nr).each do |nr| %>
                    <td><%= @downtime[key][nr] %></td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>

    <% end %>

<% else %>
    <% if true %>

        <div class="col-sm-12">
          <div class="digg_pagination">
            <div class="page_info">
              <%= page_entries_info @calc_result %>
            </div>
            <%= will_paginate @calc_result, :container => false %>
          </div>
        </div>
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>NO.</th>
            <th>时间</th>
            <th>oee</th>
            <th>availability</th>
            <th>performance</th>
          </tr>
          </thead>
          <tbody>
          <% @calc_result.each_with_index do |result, i| %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= result[:time].localtime.strftime('%Y/%m/%d') %></td>
                <td><%= result[:availability] * result[:performance] %></td>
                <td><%= result[:availability] %></td>
                <td><%= result[:performance] %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <div class="digg_pagination">
          <%= will_paginate @calc_result, :container => false %>
        </div>

    <% else %>

        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>NO.</th>
            <th>时间</th>
            <% DowntimeType.pluck(:nr).each do |nr| %>
                <th><%= nr %></th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% @downtime.keys.each_with_index do |key, i| %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= key.localtime.strftime('%Y%m%d') %></td>
                <% DowntimeType.pluck(:nr).each do |nr| %>
                    <td><%= @downtime[key][nr] %></td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>

    <% end %>
<% end %>

<script type="text/javascript">
  layout.date_picker('.datepicker');
</script>