<ol class="breadcrumb">
  <li>基础数据</li>
  <li>停机报告</li>
</ol>

<hr class="hr-grey"/>

<!--搜索-->
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>机器号</span>
      <%= select_tag('machine_id', options_from_collection_for_select(Machine.all, :id, :nr, @machine_id), include_blank: true) %>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>机器类型</span>
      <%= select_tag('machine_type_id', options_from_collection_for_select(MachineType.all, :id, :nr, @machine_type_id), include_blank: true) %>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>展示角度</span>
      <%= select_tag('dimensionality', options_for_select(DimensionalityEnum.menu, @dimensionality), include_blank: true) %>
    </div>
  </div>

  <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>查询日期</span>
      <input type="text" name="time_start" class="datepicker" value="<%= @time_start %>"/>
      <span>~</span>
      <input type="text" name="time_end" class="datepicker" value="<%= @time_end %>"/>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top:5px;">
    <input type="button" value="查 找" class="marco-btn-oee submit" style="height: 30px;"/>
  </div>
</div>

<hr class="hr-grey">

<div id="oee"></div>

<div id="availability"></div>

<div id="performance"></div>

<div id="downtime_code"></div>

<script type="text/javascript">
  layout.date_picker('.datepicker');

  $('.submit').click(function () {
    var MachineID = $('#machine_id').val();
    var MachineTypeID = $('#machine_type_id').val();
    var Dimensionality = $('#dimensionality').val();
    var TimeStart = $('[name=time_start]').val();
    var TimeEnd = $('[name=time_end]').val();

    var DownTimeRecords = {
      machine_id: MachineID,
      machine_type_id: MachineTypeID,
      dimensionality: Dimensionality,
      time_start: TimeStart,
      time_end: TimeEnd
    };

    $.ajax({
      url: '/downtime_records/display',
      type: 'post',
      data: {
        downtime_records: DownTimeRecords
      },
      success: function (data) {

        var downtime_records = data;

//        var downtime_records = $.parseJSON(data);

        console.log(downtime_records);

        if (downtime_records.result) {
          var Oee = downtime_records.oee,
              OeeXAxis = new Array(),
              OeeXId = new Array(),
              OeeAvailability = new Array(),
              OeeAvailabilityJ1 = new Array(),
              OeeOee = new Array(),
              OeeOeeJ1 = new Array(),
              OeePerformance = new Array();

          for (var oee in Oee) {
            //维度不同， 横坐标不一样
            if (DownTimeRecords.dimensionality == 200) {
              OeeXAxis.push(Oee[oee].time);
            }
            else {
              OeeXId.push(Oee[oee].machine.id);
              OeeXAxis.push(Oee[oee].machine.nr);
            }
            OeeAvailability.push(Oee[oee].availability);
            OeeAvailabilityJ1.push(Oee[oee].availability_j1);
            OeeOee.push(Oee[oee].oee);
            OeeOeeJ1.push(Oee[oee].oee_j1);
            OeePerformance.push(Oee[oee].performance);
          }

          var OeeSeries = new Array(),
              AvailSeries = new Array(),
              PerSeries = new Array();

          OeeSeries.push({name: 'OEE', data: OeeOee}, {name: 'OEE_J1', data: OeeOeeJ1});
          AvailSeries.push({name: 'Availablity', data: OeeAvailability}, {
            name: 'Availablity_J1',
            data: OeeAvailabilityJ1
          });
          PerSeries.push({name: 'Performance', data: OeePerformance});

          DTR.oee('#oee', "OEE", OeeXAxis, OeeSeries);
          DTR.oee('#availability', "Availability", OeeXAxis, AvailSeries);
          DTR.oee('#performance', "Performance", OeeXAxis, PerSeries);

          var DownTimeCode = downtime_records.downtime_code;


          //计算停机代码
          var DTCXAxis = new Array(),
              DTCData = new Array(),
              DTCSeries = new Array();

          for (var i in DownTimeCode) {
            DTCXAxis.push(i);

            //计算步长
            var count = 0;
            for (var key in DownTimeCode[i]) {
              count++;
              DTCData.push({key: key, value: DownTimeCode[i][key]});
            }
          }

          for (var j = 0; j < count; j++) {
            var SeriesData = new Array();

            for (var m = j; m < DTCData.length; m += count) {
              SeriesData.push(DTCData[m].value);
            }
            DTCSeries.push({name: DTCData[j].key, data: SeriesData});
          }

          var downtime_code = {
            XAxis: DTCXAxis,
            downtime_codes: DTCSeries
          };


          DTR.downtime_code('#downtime_code', 'DownTime Code', DTCXAxis, DTCSeries);

        } else {
          layout.popMsg('popMsg-danger', '请求数据出现错误!');
        }
      }
      ,
      error: function () {
        console.log("Error");
        layout.popMsg('popMsg-danger', '请求不到服务器!');
      }
    });
  });


</script>