<ol class="breadcrumb">
  <li>基础数据</li>
  <li>停机报告</li>
</ol>

<hr class="hr-grey"/>

<!--搜索-->
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>机器号</span>
      <%= select_tag('machine_id', options_from_collection_for_select(Machine.all, :id, :nr, @machine_id), include_blank: true) %>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>机器类型</span>
      <%= select_tag('machine_type_id', options_from_collection_for_select(MachineType.all, :id, :nr, @machine_type_id), include_blank: true) %>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>展示角度</span>
      <%= select_tag('dimensionality', options_for_select(DimensionalityEnum.menu, @dimensionality), include_blank: true) %>
    </div>
  </div>

  <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>查询日期</span>
      <input type="text" name="time_start" class="datepicker" value="<%= @time_start %>"/>
      <span>~</span>
      <input type="text" name="time_end" class="datepicker" value="<%= @time_end %>"/>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>按</span>
      <select name="is_daily" id="is_daily">
        <option value=""></option>
        <option value="true" selected>天</option>
        <option value="false">月</option>
      </select>
      <span>
        <input type="button" value="查 找" style="background:#34495e; height: 30px; " class="submit"/>
      </span>
    </div>
  </div>
</div>

<hr class="hr-grey">

<div class="marco-npanel-primary">
  <div class="marco-nheading">
    OEE
    <div class="pull-right">
    </div>
  </div>

  <div class="marco-nbody display-body">
    <div class="bu-charts">
      <div id="bu_oee">
        <h3>OEE BU 图表</h3>
      </div>
    </div>

    <div class="right-detail">
      <div id="oee">
        <h3>OEE 图表</h3>
      </div>
    </div>
  </div>
</div>

<hr class="hr-grey"/>

<div class="marco-npanel-danger">
  <div class="marco-nheading">
    Availability
    <div class="pull-right">
    </div>
  </div>

  <div class="marco-nbody display-body">
    <div class="bu-charts">
      <div id="bu_availability">
        <h3>Availability BU 图表</h3>
      </div>
    </div>

    <div class="right-detail">
      <div id="availability">
        <h3>Availability 图表</h3>
      </div>
    </div>
  </div>
</div>

<hr class="hr-grey"/>

<div class="marco-npanel-warning">
  <div class="marco-nheading">
    Performance
    <div class="pull-right">
    </div>
  </div>

  <div class="marco-nbody display-body">
    <div class="bu-charts">
      <div id="bu_performance">
        <h3>Performance BU 图表</h3>
      </div>
    </div>

    <div class="right-detail">
      <div id="performance">
        <h3>Performance 图表</h3>
      </div>
    </div>
  </div>
</div>

<hr class="hr-grey"/>

<div class="marco-npanel-default">
  <div class="marco-nheading">
    DownTime Code
    <div class="pull-right">
    </div>
  </div>

  <div class="marco-nbody display-body">
    <div class="bu-charts">
      <div id="bu_downtime_code">
        <h3>DownTime Code BU 图表</h3>
      </div>
    </div>

    <div class="right-detail">
      <div id="downtime_code">
        <h3>DownTime Code 图表</h3>
      </div>
    </div>
  </div>
</div>

<hr class="hr-grey"/>

<div class="marco-npanel-default sum-table">
  <div class="marco-nheading">
    统计表格
    <div class="pull-right">
    </div>
  </div>

  <div class="marco-nbody display-body">
    <div class="performance-table">
      <div class="marco-npanel-default">
        <div class="marco-nheading">
          表现率
        </div>
        <div class="marco-nbody" style="display: block; padding:0;">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>机台</th>
              <th>BU</th>
              <th>Performance</th>
            </tr>
            </thead>
            <tbody class="performance_tbody"></tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="limit-table">
      <div class="marco-npanel-default">
        <div class="marco-nheading">
          停机前5大
        </div>
        <div class="marco-nbody" style="display: block; padding:0;">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>机台</th>
              <th>BU</th>
              <th>停机原因</th>
              <th>开始</th>
              <th>时间(h)</th>
            </tr>
            </thead>
            <tbody class="limit_tbody"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  layout.date_picker('.datepicker');

  $("#dimensionality").find("option[value='100']").attr("selected", true);
  $('[name=time_start]').val(layout.futureDate(7));
  $('[name=time_end]').val(new Date().marcoFormat("yyyy-MM-dd"));
  DTR.show_charts(queryData());

  $('.submit').click(function () {
    DTR.show_charts(queryData());
  });

  function queryData() {
    var MachineID = $('#machine_id').val();
    var MachineTypeID = $('#machine_type_id').val();
    var Dimensionality = $('#dimensionality').val();
    var TimeStart = $('[name=time_start]').val();
    var TimeEnd = $('[name=time_end]').val();
    var IsDaily = $('#is_daily').val();

    var DownTimeRecords = {
      machine_id: MachineID,
      machine_type_id: MachineTypeID,
      dimensionality: Dimensionality,
      time_start: TimeStart,
      time_end: TimeEnd,
      is_daily: IsDaily
    };

    return DownTimeRecords;
  }

</script>
