<h1>Display Data</h1>

<div>
  <form method="get" action="<%= send("display_downtime_records_path") %>">
    <div>
      <div>
        机器号：
        <%= select_tag('machine_id', options_from_collection_for_select(Machine.all, :id, :nr, @machine_id), include_blank: true) %>
      </div>
      <div>
        机器类型：
        <%= select_tag('machine_type_id', options_from_collection_for_select(MachineType.all, :id, :nr, @machine_type_id), include_blank: true) %>
      </div>

      <div>
        展示角度：
        <%= select_tag('dimensionality', options_for_select(DimensionalityEnum.menu, @dimensionality), include_blank: true ) %>
      </div>
    </div>

    <div>
      <div>
        查询日期：
        <input type="text" name="time_start" class="datepicker" value="<%= @time_start %>"/>
        ~
        <input type="text" name="time_end" class="datepicker" value="<%= @time_end %>"/>
      </div>

      <div>
        <input type="submit" value="查 找" class="btn btn-primary"/>
      </div>
    </div>
  </form>
</div>




<% if @dimensionality==DimensionalityEnum::MACHINE %>
    <% if true %>
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>NO.</th>
            <th>机器号</th>
            <th>机器类型</th>
            <th>oee</th>
            <th>availability</th>
            <th>performance</th>
          </tr>
          </thead>
          <tbody>
          <% @calc_result.each_with_index do |result, i| %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= result[:machine].nr %></td>
                <td><%= result[:machine].machine_type.nr %></td>
                <td><%= result[:availability] * result[:performance] %></td>
                <td><%= result[:availability] %></td>
                <td><%= result[:performance] %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <div class="digg_pagination">
          <%= will_paginate @calc_result, :container => false %>
        </div>

    <% else %>

        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>NO.</th>
            <th>机器号</th>
            <% DowntimeType.pluck(:nr).each do |nr| %>
                <th><%= nr %></th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% @downtime.keys.each_with_index do |key, i| %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= key %></td>
                <% DowntimeType.pluck(:nr).each do |nr| %>
                    <td><%= @downtime[key][nr] %></td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>

    <% end %>

<% else %>
    <% if true %>
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>NO.</th>
            <th>时间</th>
            <th>oee</th>
            <th>availability</th>
            <th>performance</th>
          </tr>
          </thead>
          <tbody>
          <% @calc_result.each_with_index do |result, i| %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= result[:time].localtime.strftime('%Y/%m/%d') %></td>
                <td><%= result[:availability] * result[:performance] %></td>
                <td><%= result[:availability] %></td>
                <td><%= result[:performance] %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <div class="digg_pagination">
          <%= will_paginate @calc_result, :container => false %>
        </div>

    <% else %>

        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>NO.</th>
            <th>时间</th>
            <% DowntimeType.pluck(:nr).each do |nr| %>
                <th><%= nr %></th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% @downtime.keys.each_with_index do |key, i| %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= key.localtime.strftime('%Y%m%d') %></td>
                <% DowntimeType.pluck(:nr).each do |nr| %>
                    <td><%= @downtime[key][nr] %></td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>

    <% end %>
<% end %>



<script>
    $(".datepicker").datetimepicker({
        lang: 'ch',
        format: 'Y-m-d'
    });
</script>