<ol class="breadcrumb">
  <li>基础数据</li>
  <li>停机报告</li>
</ol>

<hr class="hr-grey"/>

<!--搜索-->
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>机器号</span>
      <%= select_tag('machine_id', options_from_collection_for_select(Machine.all, :id, :nr, @machine_id), include_blank: true) %>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>机器类型</span>
      <%= select_tag('machine_type_id', options_from_collection_for_select(MachineType.all, :id, :nr, @machine_type_id), include_blank: true) %>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>展示角度</span>
      <%= select_tag('dimensionality', options_for_select(DimensionalityEnum.menu, @dimensionality), include_blank: true) %>
    </div>
  </div>

  <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>查询日期</span>
      <input type="text" name="time_start" class="datepicker" value="<%= @time_start %>"/>
      <span>~</span>
      <input type="text" name="time_end" class="datepicker" value="<%= @time_end %>"/>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top:5px;">
    <input type="button" value="查 找" class="marco-btn-oee submit" style="height: 30px;"/>
  </div>
</div>

<hr class="hr-grey">

<div id="oee"></div>

<div id="availability"></div>

<div id="performance"></div>

<div id="downtime_code"></div>

<script type="text/javascript">
  var Source = {
    A: {Code1: 0.2, Code2: 0.3},
    B: {Code1: 0.3, Code2: 0.4},
    C: {Code1: 0.4, Code2: 0.5}
  };

  var XAxis = new Array();
  var Data = new Array();
  var OK = new Array();

  for (var i in Source) {
    XAxis.push(i);

    var count = 0;
    for (var key in Source[i]) {
      count++;
      Data.push({key: key, value: Source[i][key]});
    }
  }

  for (var m = 0; m < Data.length; m += count) {
    console.log(Data[m]);
    OK.push(Data[m].value);
  }

  console.log('...');
  console.log(OK);

  console.log(count);
  console.log(Data);
  console.log(Data.length);

  console.log(XAxis);


  //  var downtime_code = {
  //    machine: ["08705-01", "08703-31"],
  //    downtime_codes: [
  //      {name: "1", data: [0.2, 0.3, 0.4]},
  //      {name: "2", data: [0.3, 0.4, 0.5]},
  //      {name: "3", data: [0.7, 0.8, 0.9]}
  //    ]
  //  };

  layout.date_picker('.datepicker');

  $('.submit').click(function () {
    var MachineID = $('#machine_id').val();
    var MachineTypeID = $('#machine_type_id').val();
    var Dimensionality = $('#dimensionality').val();
    var TimeStart = $('[name=time_start]').val();
    var TimeEnd = $('[name=time_end]').val();

    var DownTimeRecords = {
      machine_id: MachineID,
      machine_type_id: MachineTypeID,
      dimensionality: Dimensionality,
      time_start: TimeStart,
      time_end: TimeEnd
    };

    $.ajax({
      url: '/downtime_records/display',
      type: 'get',
      data: {
        downtime_records: DownTimeRecords
      },
      success: function (data) {
        var downtime_records = $.parseJSON(data);
        if (downtime_records.result) {
          var Oee = downtime_records.oee,
              OeeXAxis = new Array(),
              OeeXId = new Array(),
              OeeAvailability = new Array(),
              OeeOee = new Array(),
              OeePerformance = new Array();

          for (var oee in Oee) {
            //维度不同， 横坐标不一样
            if (DownTimeRecords.dimensionality == 200) {
              OeeXAxis.push(Oee[oee].time);
            }
            else {
              OeeXId.push(Oee[oee].machine.id);
              OeeXAxis.push(Oee[oee].machine.nr);
            }
            OeeAvailability.push(Oee[oee].availability);
            OeeOee.push(Oee[oee].oee);
            OeePerformance.push(Oee[oee].performance);
          }

          var OeeSeries = new Array(),
              AvailSeries = new Array(),
              PerSeries = new Array();

          OeeSeries.push({name: 'Oee', data: OeeOee});
          AvailSeries.push({name: 'Availablity', data: OeeAvailability});
          PerSeries.push({name: 'Performance', data: OeePerformance});

          DTR.oee('#oee', "OEE", OeeXAxis, '#2980b9', OeeSeries);
          DTR.oee('#availability', "Availability", OeeXAxis, '#a94442', AvailSeries);
          DTR.oee('#performance', "Performance", OeeXAxis, '#E67E22', PerSeries);


          var DownTimeCode = downtime_records.downtime_code;

          console.log(DownTimeCode);


          var DTCXAxis = new Array();
          var DTCSeries = new Array();

          for (var dtc in DownTimeCode) {
            DTCXAxis.push(dtc);
            var Data = new Array();
            for (var c in DownTimeCode[dtc]) {
              Data.push(DownTimeCode[dtc][c]);
            }

            DTCSeries.push({name: DownTimeCode[dtc], data: Data});
          }

          console.log(DTCSeries);
        } else {
          layout.popMsg('popMsg-danger', '请求数据出现错误!');
        }
      }
      ,
      error: function () {
        console.log("Error");
        layout.popMsg('popMsg-danger', '请求不到服务器!');
      }
    });
  });


</script>