<ol class="breadcrumb">
  <li>基础数据</li>
  <li>停机报告</li>
</ol>

<hr class="hr-grey"/>

<!--搜索-->
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>机器号</span>
      <%= select_tag('machine_id', options_from_collection_for_select(Machine.all, :id, :nr, @machine_id), include_blank: true) %>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>机器类型</span>
      <%= select_tag('machine_type_id', options_from_collection_for_select(MachineType.all, :id, :nr, @machine_type_id), include_blank: true) %>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>展示角度</span>
      <%= select_tag('dimensionality', options_for_select(DimensionalityEnum.menu, @dimensionality), include_blank: true) %>
    </div>
  </div>

  <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
    <div class="marco-igroup-oee">
      <span>查询日期</span>
      <input type="text" name="time_start" class="datepicker" value="<%= @time_start %>"/>
      <span>~</span>
      <input type="text" name="time_end" class="datepicker" value="<%= @time_end %>"/>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top:5px;">
    <input type="button" value="查 找" class="marco-btn-oee submit" style="height: 30px;"/>
  </div>
</div>

<hr class="hr-grey">

<div id="oee"></div>
<div id="availability"></div>
<div id="performance"></div>
<div id="downtime_code"></div>

<script type="text/javascript">
  layout.date_picker('.datepicker');

  //TODO:显示 OEE停机报告 图表  使用ajax 请求， 进行返回判断

  $('.submit').click(function () {
    var MachineID = $('#machine_id').val();
    var MachineTypeID = $('#machine_type_id').val();
    var Dimensionality = $('#dimensionality').val();
    var TimeStart = $('[name=time_start]').val();
    var TimeEnd = $('[name=time_end]').val();

    var DownTimeRecords = {
      machine_id: MachineID,
      machine_type_id: MachineTypeID,
      dimensionality: Dimensionality,
      time_start: TimeStart,
      time_end: TimeEnd
    };
    $.ajax({
      url: '/downtime_records/display',
      type: 'get',
      data: {
        downtime_records: DownTimeRecords
      },
      success: function (data) {
        var downtime_records = $.parseJSON(data);
        if (downtime_records.result) {
          var Oee = downtime_records.oee;

          console.log(Oee);

          var OeeXAxis = new Array();
          var OeeXId = new Array();
          var OeeAvailablity = new Array();
          var OeeOee = new Array();
          var OeePerformance = new Array();

          for (var oee in Oee) {
            OeeXId.push(Oee[oee].machine.id);
            OeeXAxis.push(Oee[oee].machine.nr);
            OeeAvailablity.push({name: Oee[oee].machine.nr, data: Oee[oee].availability});
            OeeOee.push({name: Oee[oee].machine.nr, data: Oee[oee].oee});
            OeePerformance.push({name: Oee[oee].machine.nr, data: Oee[oee].performance});
          }

          console.log(OeeXAxis);
          console.log(OeeAvailablity);
          console.log(OeeOee);
          console.log(OeePerformance);

          DTR.downtime_record('#availability', "Availability", OeeXAxis, OeeAvailablity);


          var DownTimeRecord = downtime_records.downtime_code;
          var DTRXAxis = new Array();
          for (var dtr in DownTimeRecord) {
            DTRXAxis.push(dtr);
          }

          console.log(DTRXAxis);
        } else {
          layout.popMsg('popMsg-danger', '请求数据出现错误!');
        }
      },
      error: function () {
        console.log("Error");
        layout.popMsg('popMsg-danger', '请求不到服务器!');
      }
    });
  });


</script>