<p id="notice"><%= notice %></p>

<h1>Downtime Records</h1>
<div>
  <%= link_to '导入数据', import_downtime_records_path, :class => 'btn btn-primary' %>
</div>

<div class="all-search">
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
    <div class="col-sm-12">
      <div class="col-sm-4">
        机器号：
        <%= select_tag('downtime_record[machine_id]', options_from_collection_for_select(Machine.all, :id, :nr, @machine_id), include_blank: true) %>
      </div>
      <div class="col-sm-3">
        订单号：
        <input type="text" name="downtime_record[pd_bemerk]" value="<%= @pd_bemerk %>"/>
        <input type="hidden" name="downtime_record[pd_bemerk_fuzzy]"/>
      </div>
      <div class="col-sm-4">
        停机代码：
        <%= select_tag('downtime_record[downtime_code_id]', options_from_collection_for_select(DowntimeCode.all, :id, :nr, @downtime_code_id), include_blank: true) %>
      </div>
    </div>


    <div class="col-sm-12">
      <div class="col-sm-8">
        入账日期：
        <input type="text" name="downtime_record[pk_datum][start]" class="datepicker" value="<%= @pk_datum_start %>"/>
        ~
        <input type="text" name="downtime_record[pk_datum][end]" class="datepicker" value="<%= @pk_datum_end %>"/>
      </div>

      <div class="col-sm-4">
        <input type="submit" value="查 找" class="btn btn-primary" style="width: 150px;"/>
      </div>
    </div>
  </form>
</div>



<div class="col-sm-12">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @downtime_records %>
    </div>
    <%= will_paginate @downtime_records, :container => true %>
  </div>
</div>


<table>
  <thead>
  <tr>
    <th>NO.</th>
    <th>工厂代码</th>
    <th>订单号</th>
    <th>订单序号</th>
    <th>Fors lnr</th>
    <th>机台号</th>
    <th>班次</th>
    <th>入账日期</th>
    <th>Pk sch std</th>
    <th>班组</th>
    <th>工艺</th>
    <th>标准操作工时(m)</th>
    <th>产量</th>
    <th>生产前报废</th>
    <th>生产过程中报废</th>
    <th>订单+序号</th>
    <th>账号</th>
    <th>实际生产日期</th>
    <th>停机开始</th>
    <th>停机结束</th>
    <th>停机代码</th>
    <th>停机时间(h)</th>
    <th>线长(mm)</th>
    <th>Pd rf</th>
    <th>是否系统添加</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @downtime_records.each_with_index do |downtime_record, index| %>
      <tr>
        <td><%= index+@downtime_records.offset+1 %></td>
        <td><%= downtime_record.fors_werk %></td>
        <td><%= downtime_record.fors_faufnr %></td>
        <td><%= downtime_record.fors_faufpo %></td>
        <td><%= downtime_record.fors_lnr %></td>
        <td><%= downtime_record.machine.nr %></td>
        <td><%= downtime_record.pk_sch %></td>
        <td><%= downtime_record.pk_datum.localtime.strftime('%Y%m%d') %></td>
        <td><%= downtime_record.pk_sch_std %></td>
        <td><%= downtime_record.pk_sch_t %></td>
        <td><%= downtime_record.craft.nr %></td>
        <td><%= downtime_record.pd_teb %></td>
        <td><%= downtime_record.pd_stueck %></td>
        <td><%= downtime_record.pd_auss_ruest %></td>
        <td><%= downtime_record.pd_auss_prod %></td>
        <td><%= downtime_record.pd_bemerk %></td>
        <td><%= downtime_record.pd_user %></td>
        <td><%= downtime_record.pd_erf_dat.localtime.strftime('%Y%m%d') %></td>
        <td><%= downtime_record.pd_von.localtime.strftime('%Y%m%d  %H:%M:%S') %></td>
        <td><%= downtime_record.pd_bis.localtime.strftime('%H:%M:%S') %></td>
        <td><%= downtime_record.downtime_code.nr %></td>
        <td><%= downtime_record.pd_std %></td>
        <td><%= downtime_record.pd_laenge %></td>
        <td><%= downtime_record.pd_rf %></td>
        <td><%= downtime_record.is_naturl %></td>
        <td><%= link_to 'Show', downtime_record %></td>
        <td><%= link_to 'Edit', edit_downtime_record_path(downtime_record) %></td>
        <td><%= link_to 'Destroy', downtime_record, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @downtime_records, :container => false %>
</div>

<%= link_to 'New Downtime Record', new_downtime_record_path %>


<script>
    $(function () {
        $(".datepicker").datetimepicker({
            lang: 'ch',
            format: 'Y-m-d'
        });
    });
</script>