<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li>基础数据</li>
  <li>停机记录</li>
</ol>

<hr class="hr-grey"/>

<div class="all-search row">
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>机器号</span>
        <%= select_tag('downtime_record[machine_id]', options_from_collection_for_select(Machine.all, :id, :nr, @machine_id), include_blank: true) %>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>订单号</span>
        <input type="text" name="downtime_record[pd_bemerk]" value="<%= @pd_bemerk %>"/>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>停机代码</span>
        <%= select_tag('downtime_record[downtime_code_id]', options_from_collection_for_select(DowntimeCode.all, :id, :nr, @downtime_code_id), include_blank: true) %>
        <span class="marco-label-oee" style="padding:0;">
          <button type="submit" style="border: none; background: #34495e;">查找</button>
        </span>
      </div>
    </div>
  </form>
</div>

<hr class="hr-grey"/>

<div class="marco-npanel-default">
  <div class="marco-nheading">
    工艺列表
    <div class="pull-right">
      <%= link_to content_tag(:i, content_tag(:span, "导入数据 "), :class => "fa fa-cloud-upload"), import_downtime_records_path %>

      <%= link_to content_tag(:i, content_tag(:span, "新建"), :class => "fa fa-plus-square"), new_downtime_record_path %>
    </div>
  </div>

  <div class="marco-nbody" style="overflow: auto; padding: 0;">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>NO</th>
        <th>工厂代码</th>
        <th>订单号</th>
        <th>订单序号</th>
        <th>Fors lnr</th>
        <th>机台号</th>
        <th>班次</th>
        <th>入账日期</th>
        <th>Pk sch std</th>
        <th>班组</th>
        <th>工艺</th>
        <th>标准操作工时(m)</th>
        <th>产量</th>
        <th>生产前报废</th>
        <th>生产过程中报废</th>
        <th>订单+序号</th>
        <th>账号</th>
        <th>实际生产日期</th>
        <th>停机开始</th>
        <th>停机结束</th>
        <th>停机代码</th>
        <th>停机时间(h)</th>
        <th>线长(mm)</th>
        <th>Pd rf</th>
        <th>是否系统添加</th>
        <th>操作</th>
      </tr>
      </thead>

      <tbody>
      <% @downtime_records.each_with_index do |downtime_record, index| %>
          <tr>
            <td><%= index+@downtime_records.offset+1 %></td>
            <td><%= downtime_record.fors_werk %></td>
            <td><%= downtime_record.fors_faufnr %></td>
            <td><%= downtime_record.fors_faufpo %></td>
            <td><%= downtime_record.fors_lnr %></td>
            <td><%= downtime_record.machine.nr %></td>
            <td><%= downtime_record.pk_sch %></td>
            <td><%= downtime_record.pk_datum.localtime.strftime('%Y%m%d') %></td>
            <td><%= downtime_record.pk_sch_std %></td>
            <td><%= downtime_record.pk_sch_t %></td>
            <td><%= downtime_record.craft.nr %></td>
            <td><%= downtime_record.pd_teb %></td>
            <td><%= downtime_record.pd_stueck %></td>
            <td><%= downtime_record.pd_auss_ruest %></td>
            <td><%= downtime_record.pd_auss_prod %></td>
            <td><%= downtime_record.pd_bemerk %></td>
            <td><%= downtime_record.pd_user %></td>
            <td><%= downtime_record.pd_erf_dat.localtime.strftime('%Y%m%d') %></td>
            <td><%= downtime_record.pd_von.localtime.strftime('%Y%m%d  %H:%M:%S') %></td>
            <td><%= downtime_record.pd_bis.localtime.strftime('%H:%M:%S') %></td>
            <td><%= downtime_record.downtime_code.nr %></td>
            <td><%= downtime_record.pd_std %></td>
            <td><%= downtime_record.pd_laenge %></td>
            <td><%= downtime_record.pd_rf %></td>
            <td><%= downtime_record.is_naturl %></td>
            <td>
              <%= link_to 'Show', downtime_record %>
              <%= link_to 'Edit', edit_downtime_record_path(downtime_record) %>
              <%= link_to 'Destroy', downtime_record, method: :delete, data: {confirm: 'Are you sure?'} %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="digg_pagination">
  <%= will_paginate @downtime_records, :container => false, params: params.to_unsafe_h %>
</div>
