<p id="notice"><%= notice %></p>

<p>
  <strong>Fors werk:</strong>
  <%= @downtime_record.fors_werk %>
</p>

<p>
  <strong>Fors faufnr:</strong>
  <%= @downtime_record.fors_faufnr %>
</p>

<p>
  <strong>Fors faufpo:</strong>
  <%= @downtime_record.fors_faufpo %>
</p>

<p>
  <strong>Fors lnr:</strong>
  <%= @downtime_record.fors_lnr %>
</p>

<p>
  <strong>Machine:</strong>
  <%= @downtime_record.machine %>
</p>

<p>
  <strong>Pk sch:</strong>
  <%= @downtime_record.pk_sch %>
</p>

<p>
  <strong>Pk datum:</strong>
  <%= @downtime_record.pk_datum %>
</p>

<p>
  <strong>Pk sch std:</strong>
  <%= @downtime_record.pk_sch_std %>
</p>

<p>
  <strong>Pk sch t:</strong>
  <%= @downtime_record.pk_sch_t %>
</p>

<p>
  <strong>Craft:</strong>
  <%= @downtime_record.craft %>
</p>

<p>
  <strong>Pd teb:</strong>
  <%= @downtime_record.pd_teb %>
</p>

<p>
  <strong>Pd stueck:</strong>
  <%= @downtime_record.pd_stueck %>
</p>

<p>
  <strong>Pd auss ruest:</strong>
  <%= @downtime_record.pd_auss_ruest %>
</p>

<p>
  <strong>Pd auss prod:</strong>
  <%= @downtime_record.pd_auss_prod %>
</p>

<p>
  <strong>Pd bemerk:</strong>
  <%= @downtime_record.pd_bemerk %>
</p>

<p>
  <strong>Pd user:</strong>
  <%= @downtime_record.pd_user %>
</p>

<p>
  <strong>Pd erf dat:</strong>
  <%= @downtime_record.pd_erf_dat %>
</p>

<p>
  <strong>Pd von:</strong>
  <%= @downtime_record.pd_von %>
</p>

<p>
  <strong>Pd bis:</strong>
  <%= @downtime_record.pd_bis %>
</p>

<p>
  <strong>Downtime code:</strong>
  <%= @downtime_record.downtime_code %>
</p>

<p>
  <strong>Pd std:</strong>
  <%= @downtime_record.pd_std %>
</p>

<p>
  <strong>Pd laenge:</strong>
  <%= @downtime_record.pd_laenge %>
</p>

<p>
  <strong>Pd rf:</strong>
  <%= @downtime_record.pd_rf %>
</p>

<p>
  <strong>Is naturl:</strong>
  <%= @downtime_record.is_naturl %>
</p>

<%= link_to 'Edit', edit_downtime_record_path(@downtime_record) %> |
<%= link_to 'Back', downtime_records_path %>
