<%= form_for(asset_balance_list) do |f| %>
  <% if asset_balance_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asset_balance_list.errors.count, "error") %> prohibited this asset_balance_list from being saved:</h2>

      <ul>
      <% asset_balance_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :balance_date %>
    <%= f.date_field :balance_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
    layout.date_picker('.datepicker');
</script>