<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li><%= link_to '月资产平衡', asset_balance_lists_path %></li>
  <li>清单列表</li>
</ol>

<hr class="hr-grey"/>

<div class="all-search row">
  <form method="get" action="<%= send("child_search_#{@model.pluralize}_path") %>">
    <!--<div class="marco-igroup-oee">-->
      <input type="hidden" name="id" value="<%= @asset_balance_list.id %>"/>
    <!--</div>-->

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>固定资产号</span>
        <input type="text" name="asset_balance_item[nr]" value="<%= @nr %>"/>
        <input type="hidden" name="asset_balance_item[nr_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>设备编号</span>
        <input type="text" name="asset_balance_item[ts_equipment_nr]" value="<%= @ts_equipment_nr %>"/>
        <input type="hidden" name="asset_balance_item[ts_equipment_nr_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>使用项目</span>
        <input type="text" name="asset_balance_item[ts_project]" value="<%= @ts_project %>"/>
        <input type="hidden" name="asset_balance_item[ts_project_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>现位置</span>
        <input type="text" name="asset_balance_item[ts_position]" value="<%= @ts_position %>"/>
        <input type="hidden" name="asset_balance_item[ts_position_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>设备种类</span>
        <input type="text" name="asset_balance_item[ts_type]" value="<%= @ts_type %>"/>
        <input type="hidden" name="asset_balance_item[ts_type_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>供应商</span>
        <input type="text" name="asset_balance_item[ts_supplier]" value="<%= @ts_supplier %>"/>
        <input type="hidden" name="asset_balance_item[ts_supplier_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>使用状态</span>
        <input type="text" name="asset_balance_item[status]" value="<%= @status %>"/>
        <input type="hidden" name="asset_balance_item[status_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>盘点单号</span>
        <input type="text" name="asset_balance_item[inventory_nr]" value="<%= @inventory_nr %>"/>
        <input type="hidden" name="asset_balance_item[inventory_nr_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>盘点结果</span>
        <input type="text" name="asset_balance_item[ts_inventory_result]" value="<%= @ts_inventory_result %>"/>
        <input type="hidden" name="asset_balance_item[ts_inventory_result_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>备注</span>
        <input type="text" name="asset_balance_item[remark]" value="<%= @remark %>"/>
        <input type="hidden" name="asset_balance_item[remark_fuzzy]"/>
      </div>
    </div>



    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>盘点负责人</span>
        <%= select_tag('asset_balance_item[ts_inventory_user_id]', options_from_collection_for_select(User.fix_assets, :id, :name, @ts_inventory_user_id), {include_blank: true}) %>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>成本中心</span>
        <%= select_tag('asset_balance_item[profit_center]', options_from_collection_for_select(BuManger.all, :id, :finance_nr, @profit_center), {include_blank: true}) %>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>使用区域</span>
        <%= select_tag('asset_balance_item[ts_area_id]', options_from_collection_for_select(Area.all, :id, :desc, @ts_area_id), {include_blank: true}) %>
      </div>
    </div>

    <!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
      <!--<div class="marco-igroup-oee">-->
        <!--<span>使用区域</span>-->
        <!--<%= select_tag('asset_balance_item[ts_area_id]', options_from_collection_for_select(Area.all, :id, :desc, @ts_area_id), {include_blank: true}) %>-->
      <!--</div>-->
    <!--</div>-->

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="marco-igroup-oee">
        <span>净值</span>
        <input type="text" name="asset_balance_item[book_val][start]" value="<%= @book_val_start %>"/>
        <span>~</span>
        <input type="text" name="asset_balance_item[book_val][end]" value="<%= @book_val_end %>"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <button type="submit" class="marco-btn-default"  style="width: 180px; height: 40px; line-height: 40px;">查找</button>
    </div>
  </form>
</div>

<div class="marco-npanel-default">
  <div class="marco-nheading">
    [<%= @asset_balance_list.id %>]
    月资产平衡清单列表
  </div>

  <div class="marco-nbody" style="overflow: auto; padding: 0;">
    <table class="marco-nbody table table-bordered">
      <thead>
      <tr>
        <th>NO.</th>
        <th>Asset</th>
        <th>Cap date</th>
        <th>Profit center</th>
        <th>Asset description</th>
        <th>Acquis val</th>
        <th>Accum dep</th>
        <th>Book val</th>
        <th>Asset class</th>
        <th>设备编号</th>
        <th>使用项目</th>
        <th>盘点负责人</th>
        <th>保管人</th>
        <th>现位置</th>
        <th>铭牌跟踪</th>
        <th>类别</th>
        <th>设备种类</th>
        <th>使用区域</th>
        <th>供应商</th>
        <th>使用状态</th>
        <th>盘点单号</th>
        <th>盘点结果</th>
        <th>Remark</th>
        <th>资产转出</th>
        <th>操作</th>
      </tr>
      </thead>

      <tbody>
      <% @asset_balance_items.each_with_index do |asset_balance_item, i| %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= asset_balance_item.fix_asset_track.nr %></td>
            <td><%= asset_balance_item.cap_date.localtime.strftime('%Y/%m/%d') %></td>
            <td><%= asset_balance_item.bu.blank? ? '' : asset_balance_item.bu.finance_nr %></td>
            <td><%= asset_balance_item.asset_description %></td>
            <td><%= asset_balance_item.acquis_val %></td>
            <td><%= asset_balance_item.accum_dep %></td>
            <td><%= asset_balance_item.book_val %></td>
            <td><%= asset_balance_item.asset_class %></td>
            <td><%= asset_balance_item.ts_equipment_nr %></td>
            <td><%= asset_balance_item.ts_project %></td>
            <td><%= asset_balance_item.ts_inventory_user.name %></td>
            <td><%= asset_balance_item.ts_keeper %></td>
            <td><%= asset_balance_item.ts_position %></td>
            <td><%= asset_balance_item.ts_nameplate_track %></td>
            <td><%= asset_balance_item.ts_type %></td>
            <td><%= asset_balance_item.ts_equipment_type %></td>
            <td><%= asset_balance_item.ts_area.desc %></td>
            <td><%= asset_balance_item.ts_supplier %></td>
            <td><%= asset_balance_item.status %></td>
            <td><%= asset_balance_item.inventory_nr %></td>
            <td><%= asset_balance_item.ts_inventory_result %></td>
            <td><%= asset_balance_item.remark %></td>
            <td><%= asset_balance_item.is_move ? '已转出' : '正常' %></td>
            <td>
              <%#= link_to content_tag(:i, '', :class => 'fa fa-eye'), asset_balance_item, :class => "marco-btn-success", :title => "详情" %>
              <%= link_to content_tag(:i, '', :class => 'fa fa-pencil'), edit_asset_balance_item_path(asset_balance_item), :class => "marco-btn-primary", :title => "编辑" %>
              <%= link_to content_tag(:i, '', :class => 'fa fa-close'), asset_balance_item, method: :delete, data: {confirm: 'Are you sure?'}, :class => "marco-btn-danger", :title => "删除" %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="digg_pagination">
  <%= will_paginate @asset_balance_items, :container => false, params: params.to_unsafe_h %>
</div>
<script type="text/javascript">
    layout.date_picker('.datepicker');
</script>