<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li>月资产</li>
  <li>月资产平衡</li>
</ol>

<hr class="hr-grey"/>

<div class="all-search row">
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>资产平衡单号</span>
        <input type="text" name="asset_balance_list[id]" value="<%= @id %>"/>
        <input type="hidden" name="asset_balance_list[id_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="marco-igroup-oee">
        <span>月份</span>
        <input type="text" name="asset_balance_list[balance_date][start]" class="datepicker" value="<%= @balance_date_start %>"/>
        <span>~</span>
        <input type="text" name="asset_balance_list[balance_date][end]" class="datepicker" value="<%= @balance_date_end %>"/>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <button type="submit" class="marco-btn-default" style="width: 100px; height: 40px; line-height: 40px;" name="search">查找</button>
    </div>
  </form>
</div>

<div class="marco-npanel-default">
  <div class="marco-nheading">
    月资产平衡列表
    <div class="pull-right">
      <%= link_to content_tag(:i, content_tag(:span, "新建"), :class => "fa fa-plus-square"), new_asset_balance_list_path %>
    </div>
  </div>
  <div style="overflow: auto; padding: 0;">


    <%= form_tag controller: 'asset_balance_lists', action: 'report', method: 'post' do %>
        <input type="submit" class="btn btn-warning" value="导出报表"/>
        <table class="marco-nbody table table-bordered">
          <thead>
          <tr>
            <th></th>
            <th>NO.</th>
            <th>资产平衡单号</th>
            <th>月份</th>
            <th>清单</th>
            <th>操作</th>
          </tr>
          </thead>

          <tbody>
          <% @asset_balance_lists.each_with_index do |asset_balance_list, i| %>
              <tr>
                <td>
                  <input name="asset-balance-list-check[<%= asset_balance_list.id %>]" type="checkbox" id="<%= asset_balance_list.id %>" class='print-check'>
                </td>
                <td><%= i+1 %></td>
                <td><%= asset_balance_list.id %></td>
                <td><%= asset_balance_list.balance_date.localtime.strftime('%Y/%m/%d') %></td>
                <td><%= link_to '清单列表', asset_balance_items_asset_balance_list_path(asset_balance_list) %>
                  <span class="badge pull-right"><%= asset_balance_list.asset_balance_items.count %></td>
                <td>
                  <%= link_to content_tag(:i, '', :class => "fa fa-cloud-upload"), import_asset_balance_lists_path(id: asset_balance_list.id), :class => "marco-btn-success", :title => "导入数据" %>
                  <%= link_to content_tag(:i, '', :class => 'fa fa-pencil'), edit_asset_balance_list_path(asset_balance_list), :class => "marco-btn-primary", :title => "编辑" %>
                  <%= link_to content_tag(:i, '', :class => 'fa fa-close'), asset_balance_list, method: :delete, data: {confirm: 'Are you sure?'}, :class => "marco-btn-danger", :title => "删除" %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>

  </div>
</div>
<div class="digg_pagination">
  <%= will_paginate @asset_balance_lists, :container => false, params: params.to_unsafe_h %>
</div>
<script type="text/javascript">
    layout.date_picker('.datepicker');
    init_check();
</script>