<%= form_for(bu_manger) do |f| %>
  <% if bu_manger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bu_manger.errors.count, "error") %> prohibited this bu_manger from being saved:</h2>

      <ul>
      <% bu_manger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nr %>
    <%= f.text_field :nr %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :finance_nr %>
    <%= f.text_field :finance_nr %>
  </div>

  <div class="field">
    <%= f.label :desc %>
    <%= f.text_field :desc %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
