<div id="bu_mangers">
  <ol class="breadcrumb">
    <li>固定资产</li>
    <li><%= link_to 'BU管理', bu_mangers_path %></li>
    <li>{{action}}</li>
  </ol>

  <hr class="hr-grey"/>

  <%= form_for(bu_manger) do |f| %>
      <% if bu_manger.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(bu_manger.errors.count, "error") %> prohibited this bu_manger from being saved:</h2>

            <ul>
              <% bu_manger.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="marco-npanel-default">
        <div class="marco-nheading">
          {{action}}
          <div class="pull-right">
            <% if current_user.admin? %>
                <button type="submit" class="marco-btn-normal">{{actionBtn}}</button>
            <% end %>
          </div>
        </div>

        <div class="marco-nbody row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>Nr</span>
              <%= f.text_field :nr %>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>名称</span>
              <%= f.text_field :name %>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>Finance nr</span>
              <%= f.text_field :finance_nr %>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>描述</span>
              <%= f.text_field :desc %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>