<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li>盘点管理</li>
  <li>资产盘点</li>
</ol>

<hr class="hr-grey"/>

<div class="all-search row">
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>盘点单名称</span>
        <input type="text" name="inventory_list[name]" value="<%= @name %>"/>
        <input type="hidden" name="inventory_list[name_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>状态</span>
        <%= select_tag('inventory_list[status]', options_for_select(InventoryListStatus.menu, @status), {include_blank: true}) %>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>月资产平衡单</span>
        <%= select_tag('inventory_list[asset_balance_list_id]', options_from_collection_for_select(AssetBalanceList.all, :id, :id, @asset_balance_list_id), {include_blank: true}) %>
      </div>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="marco-igroup-oee">
        <span>盘点日期</span>
        <input type="text" name="inventory_list[inventory_date][start]" class="datepicker" value="<%= @inventory_date_start %>"/>
        <span>~</span>
        <input type="text" name="inventory_list[inventory_date][end]" class="datepicker" value="<%= @inventory_date_end %>"/>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <button type="submit" class="marco-btn-default"  style="width: 100px; height: 40px; line-height: 40px;">查找</button>
      <button type="button" class="marco-btn-success" style="width: 100px; height: 40px; line-height: 40px;">导出</button>

    </div>
  </form>
</div>

<div class="marco-npanel-default">
  <div class="marco-nheading">
    资产盘点列表
    <div class="pull-right">
      <%= link_to content_tag(:i, content_tag(:span, "新建"), :class => "fa fa-plus-square"), new_inventory_list_path %>
    </div>
  </div>

  <table class="marco-nbody table table-bordered">
    <thead>
    <tr>
      <th>盘点单名称</th>
      <th>盘点日期</th>
      <th>月资产平衡单</th>
      <th>状态</th>
      <th>盘点清单</th>
      <th>盘点重置与取消</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% @inventory_lists.each do |inventory_list| %>
      <tr>
        <td><%= inventory_list.name %></td>
        <td><%= inventory_list.inventory_date.localtime.strftime('%Y/%m/%d') %></td>
        <td><%= inventory_list.asset_balance_list.blank? ? '' : inventory_list.asset_balance_list.id %></td>
        <th><%= InventoryListStatus.display(inventory_list.status) %></th>
        <td><%= link_to '盘点清单', inventory_items_inventory_list_path(inventory_list) %>
          <span class="badge pull-right"><%= inventory_list.inventory_items.count %></td>
        <td>
          <%= link_to "重置", reset_inventory_inventory_lists_path({id: inventory_list.id, do: 'disable'}), :class=>"marco-btn-danger", data: {confirm: "确定盘点?"} %>

          <%= link_to "取消重置", reset_inventory_inventory_lists_path({id: inventory_list.id, do: 'enable'}), :class=>"marco-btn-danger",  data: {confirm: "确定取消盘点重置?"} %>
        </td>

        <td>
          <%= link_to content_tag(:i, '', :class => "fa fa-cloud-upload"), import_inventory_lists_path(id: inventory_list.id), :class => "marco-btn-success", :title => "上传盘点数据"%>
          <%= link_to content_tag(:i, '', :class => 'fa fa-pencil'), edit_inventory_list_path(inventory_list), :class => "marco-btn-primary", :title => "编辑" %>
          <%= link_to content_tag(:i, '', :class => 'fa fa-close'), inventory_list, method: :delete, data: {confirm: 'Are you sure?'}, :class => "marco-btn-danger", :title => "删除" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="digg_pagination">
  <%= will_paginate @inventory_lists, :container => false, params: params.to_unsafe_h %>
</div>
<br>


<script type="text/javascript">
    layout.date_picker('.datepicker');
</script>