<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li>盘点管理</li>
  <li><%= link_to '资产盘点', inventory_lists_path %></li>
  <li>盘点清单</li>
</ol>

<hr class="hr-grey">
<div class="marco-npanel-default">
  <div class="marco-nheading">
    盘点单 <b> [ <%= @inventory_list.name %> ] </b> 清单列表

    <div class="pull-right">
      <% if @inventory_list.status==InventoryListStatus::PROCESSING && @inventory_list.has_un_covered_item %>
          <%= link_to content_tag(:i, content_tag(:span, "开始覆盖"), :class => "fa fa-play-circle"), cover_list_inventory_item_path(@inventory_list.id), data: {confirm: "覆盖后将清空原有的固定资产记录以新的盘点结果作为固定资产记录"} %>
      <% end %>
    </div>
  </div>

  <div class="marco-nbody" style="overflow: auto; padding: 0;">
    <table class="marco-nbody table table-bordered">
      <thead>
      <tr>
        <th>是否已覆盖</th>
        <th>Fix asset track</th>
        <th>Cap date</th>
        <th>Profit center</th>
        <th>Asset description</th>
        <th>Acquis val</th>
        <th>Accum dep</th>
        <th>Book val</th>
        <th>Ts equipment nr</th>
        <th>Ts project</th>
        <th>Ts inventory user</th>
        <th>Ts keeper</th>
        <th>Ts position</th>
        <th>Ts nameplate track</th>
        <th>Ts type</th>
        <th>Ts equipment type</th>
        <th>Ts area</th>
        <th>Ts supplier</th>
        <th>Status</th>
        <th>Remark</th>
        <th>Ts inventory result</th>
        <th>操作</th>
      </tr>
      </thead>

      <tbody>
      <% @inventory_items.each do |inventory_item| %>
          <tr>
            <td><%= inventory_item.is_cover==true ? '是' : '否' %></td>
            <td><%= inventory_item.fix_asset_track.nr %></td>
            <td><%= inventory_item.cap_date %></td>
            <td><%= inventory_item.profit_center %></td>
            <td><%= inventory_item.asset_description %></td>
            <td><%= inventory_item.acquis_val %></td>
            <td><%= inventory_item.accum_dep %></td>
            <td><%= inventory_item.book_val %></td>
            <td><%= inventory_item.ts_equipment_nr %></td>
            <td><%= inventory_item.ts_project %></td>
            <td><%= inventory_item.ts_inventory_user.blank? ? inventory_item.ts_inventory_user_id : inventory_item.ts_inventory_user.name %></td>
            <td><%= inventory_item.ts_keeper %></td>
            <td><%= inventory_item.ts_position %></td>
            <td><%= inventory_item.ts_nameplate_track %></td>
            <td><%= inventory_item.ts_type %></td>
            <td><%= inventory_item.ts_equipment_type %></td>
            <td><%= inventory_item.ts_area.desc %></td>
            <td><%= inventory_item.ts_supplier %></td>
            <td><%= inventory_item.status %></td>
            <td><%= inventory_item.remark %></td>
            <td><%= inventory_item.ts_inventory_result %></td>
            <td>
              <%= link_to content_tag(:i, '', :class => 'fa fa-pencil'), edit_inventory_item_path(inventory_item), :class => "marco-btn-primary", :title => "编辑" %>
              <%= link_to content_tag(:i, '', :class => 'fa fa-close'), inventory_item, method: :delete, data: {confirm: 'Are you sure?'}, :class => "marco-btn-danger", :title => "删除" %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>