<p id="notice"><%= notice %></p>

<h1>Work Shifts</h1>

<table>
  <thead>
    <tr>
      <th>Nr</th>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_shifts.each do |work_shift| %>
      <tr>
        <td><%= work_shift.nr %></td>
        <td><%= work_shift.name %></td>
        <td><%= work_shift.start_time.strftime('%H:%M:%S') %></td>
        <td><%= work_shift.end_time.strftime('%H:%M:%S') %></td>
        <td><%= link_to 'Show', work_shift %></td>
        <td><%= link_to 'Edit', edit_work_shift_path(work_shift) %></td>
        <td><%= link_to 'Destroy', work_shift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work Shift', new_work_shift_path %>
