<p id="notice"><%= notice %></p>

<h1>Holidays</h1>
<div>
  <%= link_to '导入数据', import_holidays_path, :class => 'btn btn-primary'%>
</div>


<div class="col-sm-12">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @holidays %>
    </div>
    <%= will_paginate @holidays, :container => false %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>NO.</th>
      <th>Holiday</th>
      <th>Type</th>
      <th>Remark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @holidays.each_with_index do |holiday, index| %>
      <tr>
        <td><%= index+@holidays.offset+1 %></td>
        <td><%= holiday.holiday %></td>
        <td><%= HolidayType.display holiday.type %></td>
        <td><%= holiday.remark %></td>
        <td><%= link_to 'Show', holiday %></td>
        <td><%= link_to 'Edit', edit_holiday_path(holiday) %></td>
        <td><%= link_to 'Destroy', holiday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @holidays, :container => false %>
</div>

<%= link_to 'New Holiday', new_holiday_path %>