<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li>CAPEX</li>
  <li>CAPEX</li>
</ol>

<hr class="hr-grey"/>

<div class="all-search row">
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">

    <input type="hidden" name="http_host" value="<%= @http_host %>"/>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>项目</span>
        <input type="text" name="capex[project]" value="<%= @project %>"/>
        <input type="hidden" name="capex[project_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>部门</span>
        <%= select_tag('capex[bu_code]', options_for_select(BuCodeEnum.menu, @bu_code), {include_blank: true}) %>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <button type="submit" class="marco-btn-default" style="width: 100px; height: 40px; line-height: 40px;" name="search">查找</button>
      <button type="submit" class="marco-btn-success" style="width: 100px; height: 40px; line-height: 40px;" name="download">导出</button>
    </div>
  </form>
</div>

<div class="marco-npanel-default">
  <div class="marco-nheading">
    CAPEX列表
    <div class="pull-right">
      <%= link_to content_tag(:i, content_tag(:span, "Over View"), :class => "fa fa-plus-square"), overview_capexes_path %>
      <%= link_to content_tag(:i, content_tag(:span, "Detail By Project"), :class => "fa fa-plus-square"), detail_by_project_capexes_path %>
      <%= link_to content_tag(:i, content_tag(:span, "All Code"), :class => "fa fa-plus-square"), all_code_capexes_path %>
      <%= link_to content_tag(:i, content_tag(:span, "导入"), :class => "fa fa-plus-square"), import_capexes_path %>
      <%= link_to content_tag(:i, content_tag(:span, "新建"), :class => "fa fa-plus-square"), new_capex_path %>
    </div>
  </div>
  <div style="overflow: auto; padding: 0;">

    <table class="marco-nbody table table-bordered">
      <thead>
      <tr>
        <th>NO.</th>
        <th>项目</th>
        <th>部门</th>
        <th>描述</th>
        <th>操作</th>
      </tr>
      </thead>

      <tbody>
      <% @capexes.each_with_index do |capex, i| %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= capex.project %></td>
            <td><%= capex.bu.blank? ? '' : capex.bu.nr %></td>
            <td><%= capex.desc %></td>
            <td>
              <%= link_to content_tag(:i, '', :class => 'fa fa-eye'), capex, :class => "marco-btn-success", :title => "详情" %>
              <%= link_to content_tag(:i, '', :class => 'fa fa-pencil'), edit_capex_path(capex), :class => "marco-btn-primary", :title => "编辑" %>
              <%= link_to content_tag(:i, '', :class => 'fa fa-close'), capex, method: :delete, data: {confirm: 'Are you sure?'}, :class => "marco-btn-danger", :title => "删除" %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="digg_pagination">
  <%= will_paginate @capexes, :container => false, params: params.to_unsafe_h %>
</div>
<br>