<p id="notice"><%= notice %></p>

<h1>Capexes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Bu code</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @capexes.each do |capex| %>
      <tr>
        <td><%= capex.project %></td>
        <td><%= BuCodeEnum.display(capex.bu_code) %></td>
        <td><%= capex.desc %></td>
        <td><%= link_to 'Show', capex %></td>
        <td><%= link_to 'Edit', edit_capex_path(capex) %></td>
        <td><%= link_to 'Destroy', capex, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Capex', new_capex_path %>
