<div id="machines">
  <ol class="breadcrumb">
    <li>基础数据</li>
    <li><%= link_to '机台信息', machines_path %></li>
    <li>{{action}}</li>
  </ol>

  <hr class="hr-grey"/>

  <%= form_for(machine) do |f| %>
      <% if machine.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(machine.errors.count, "error") %> prohibited this machine from being saved:</h2>

            <ul>
              <% machine.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="marco-npanel-default">
        <div class="marco-nheading">
          {{action}}
          <div class="pull-right">
            <button type="submit" class="marco-btn-normal">{{actionBtn}}</button>
          </div>
        </div>

        <div class="marco-nbody row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>机器号</span>
              <%= f.text_field :nr %>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>机器类型</span>
              <%= f.select(:machine_type_id, MachineType.all.collect { |mt| [mt.nr, mt.id] }, {include_blank: true}) %>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>OEE号</span>
              <%= f.text_field :oee_nr %>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>部门</span>
              <%= f.select(:department_id, Department.all.collect { |d| [d.nr, d.id] }, {include_blank: true}) %>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>状态</span>
              <%= f.select(:status, MachineStatus.menu, {include_blank: true}) %>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>备注</span>
              <%= f.text_field :remark %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>

