<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li>基础数据</li>
  <li>标准工时列表</li>
</ol>

<hr class="hr-grey"/>

<div class="marco-npanel-default">
  <div class="marco-nheading">
    标准工时列表
    <div class="pull-right">
      <%= link_to content_tag(:i, content_tag(:span, "导入数据 "), :class => "fa fa-cloud-upload"), import_work_times_path %>

      <%= link_to content_tag(:i, content_tag(:span, "新建"), :class => "fa fa-plus-square"), new_work_time_path %>
    </div>
  </div>

  <table class="marco-nbody table table-bordered">
    <thead>
    <tr>
      <th>NO.</th>
      <th>机器型号</th>
      <th>工艺</th>
      <th>线长</th>
      <th>标准工时</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% @work_times.each_with_index do |work_time, index| %>
        <tr>
          <td><%= index+@work_times.offset+1 %></td>
          <td><%= work_time.machine_type.nr %></td>
          <td><%= work_time.craft.nr %></td>
          <td><%= work_time.wire_length %></td>
          <td><%= work_time.std_time %></td>
          <td>
            <%#= link_to 'Show', work_time %>

            <%= link_to content_tag(:i, '', :class => 'fa fa-pencil'), edit_work_time_path(work_time), :class => "marco-btn-primary", :title => "编辑" %>

            <%= link_to content_tag(:i, '', :class => 'fa fa-close'), work_time, method: :delete, data: {confirm: 'Are you sure?'}, :class => "marco-btn-danger", :title => "删除" %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="col-sm-12">
  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @work_times %>
    </div>
    <%= will_paginate @work_times, :container => false %>
  </div>
</div>

<div class="digg_pagination">
  <%= will_paginate @work_times, :container => false %>
</div>
