<%= form_for(machine_type) do |f| %>
  <% if machine_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(machine_type.errors.count, "error") %> prohibited this machine_type from being saved:</h2>

      <ul>
      <% machine_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nr %>
    <%= f.text_field :nr %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
