<div id="machine_types">
  <ol class="breadcrumb">
    <li>基础数据</li>
    <li><%= link_to '机器类型', machine_types_path %></li>
    <li>{{action}}</li>
  </ol>

  <hr class="hr-grey"/>

  <%= form_for(machine_type) do |f| %>
      <% if machine_type.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(machine_type.errors.count, "error") %> prohibited this machine_type from being saved:</h2>

            <ul>
              <% machine_type.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="marco-npanel-default">
        <div class="marco-nheading">
          {{action}}
          <div class="pull-right">
            <button type="submit" class="marco-btn-normal">{{actionBtn}}</button>
          </div>
        </div>

        <div class="marco-nbody row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>机器类型</span>
              <%= f.text_field :nr %>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>描述</span>
              <%= f.text_field :description %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
