<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li>基础数据</li>
  <li>机器类型</li>
</ol>

<hr class="hr-grey"/>

<div class="marco-npanel-default">
  <div class="marco-nheading">
    机器类型
    <div class="pull-right">
      <%= link_to content_tag(:i, content_tag(:span, "新建"), :class => "fa fa-plus-square"), new_machine_type_path %>
    </div>
  </div>

  <table class="marco-nbody table table-bordered">
    <thead>
    <tr>
      <th>NO</th>
      <th>机器类型</th>
      <th>描述</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% @machine_types.each_with_index do |machine_type, index| %>
        <tr>
          <td><%= index+@machine_types.offset+1 %></td>
          <td><%= machine_type.nr %></td>
          <td><%= machine_type.description %></td>
          <td>
            <%#= link_to 'Show', machine_type %>

            <%= link_to content_tag(:i, '', :class => 'fa fa-pencil'), edit_machine_type_path(machine_type), :class => "marco-btn-primary", :title => "编辑" %>

            <%= link_to content_tag(:i, '', :class => 'fa fa-close'), machine_type, method: :delete, data: {confirm: 'Are you sure?'}, :class => "marco-btn-danger", :title => "删除" %>

          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="digg_pagination">
  <%= will_paginate @machine_types, :container => false %>
</div>
