<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li>固定资产跟踪列表</li>
</ol>

<hr class="hr-grey"/>

<div class="all-search row">
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>固定资产号</span>
        <input type="text" name="fix_asset_track[nr]" value="<%= @nr %>"/>
        <input type="hidden" name="fix_asset_track[nr_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>设备编号</span>
        <input type="text" name="fix_asset_track[equipment_nr]" value="<%= @equipment_nr %>"/>
        <input type="hidden" name="fix_asset_track[equipment_nr_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>竣工单号</span>
        <input type="text" name="fix_asset_track[completed_id]" value="<%= @completed_id %>"/>
        <input type="hidden" name="fix_asset_track[completed_id_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>物资采购申请单号</span>
        <input type="text" name="fix_asset_track[apply_id]" value="<%= @apply_id %>"/>
        <input type="hidden" name="fix_asset_track[apply_id_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>申请人</span>
        <input type="text" name="fix_asset_track[proposer]" value="<%= @proposer %>"/>
        <input type="hidden" name="fix_asset_track[proposer_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>采购订单号</span>
        <input type="text" name="fix_asset_track[procurment_id]" value="<%= @procurment_id %>"/>
        <input type="hidden" name="fix_asset_track[procurment_id_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>使用费用(项目)</span>
        <input type="text" name="fix_asset_track[project]" value="<%= @project %>"/>
        <input type="hidden" name="fix_asset_track[project_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>供应商</span>
        <input type="text" name="fix_asset_track[supplier]" value="<%= @supplier %>"/>
        <input type="hidden" name="fix_asset_track[supplier_fuzzy]"/>
      </div>
    </div>


    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>竣工单状态</span>
        <%= select_tag('fix_asset_track[status]', options_for_select(FixAssetStatus.menu, @status), {include_blank: true}) %>
      </div>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="marco-igroup-oee">
        <span>资料接收日期</span>
        <input type="text" name="fix_asset_track[info_receive_date][start]" class="datepicker" value="<%= @info_receive_date_start %>"/>
        <span>~</span>
        <input type="text" name="fix_asset_track[info_receive_date][end]" class="datepicker" value="<%= @info_receive_date_end %>"/>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <button type="submit" class="marco-btn-default" style="width: 100px; height: 40px; line-height: 40px;" name="search">查找</button>
      <button type="submit" class="marco-btn-success" style="width: 100px; height: 40px; line-height: 40px;" name="download">导出</button>
    </div>
  </form>
</div>

<div class="marco-npanel-default">
  <div class="marco-nheading">
    固定资产跟踪列表
    <div class="pull-right">
      <%= link_to content_tag(:i, content_tag(:span, "导入数据 "), :class => "fa fa-cloud-upload"), import_fix_asset_tracks_path %>

      <%= link_to content_tag(:i, content_tag(:span, "新建"), :class => "fa fa-plus-square"), new_fix_asset_track_path %>
    </div>
  </div>
  <div style="overflow: auto; padding: 0;">
    <table class="marco-nbody table table-bordered">
      <thead>
      <tr>
        <th>NO.</th>
        <th>追加资产</th>
        <th>固定资产号</th>

        <th>追加设备</th>
        <th>设备编号</th>

        <th>竣工单号</th>
        <th>竣工单状态</th>

        <!--<th>资料接收日期</th>-->
        <!--<th>物资采购申请单号</th>-->
        <th>名称及规格</th>
        <th>数量</th>
        <th>总价</th>
        <th>申请人</th>
        <!--<th>采购订单号</th>-->
        <!--<th>采购日期</th>-->
        <!--<th>供应商</th>-->
        <!--<th>使用费用（项目）</th>-->
        <th>备注</th>
        <!--<th>Equipment track</th>-->
        <th>操作</th>
      </tr>
      </thead>

      <tbody>
      <% @fix_asset_tracks.each_with_index do |fix_asset_track, i| %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= fix_asset_track.is_add_fix_asset ? '是' : '否' %></td>
            <td><%= fix_asset_track.nr %></td>

            <td><%= fix_asset_track.is_add_equipment ? '是' : '否' %></td>
            <td><%= fix_asset_track.equipment_nr %></td>

            <td><%= fix_asset_track.completed_id %></td>
            <td><%= FixAssetStatus.display fix_asset_track.status %></td>

            <!--<td><%= fix_asset_track.info_receive_date.blank? ? '' : fix_asset_track.info_receive_date.localtime.strftime('%Y%m%d') %></td>-->
            <!--<td><%= fix_asset_track.apply_id %></td>-->
            <td><%= fix_asset_track.description %></td>
            <td><%= fix_asset_track.qty %></td>
            <td><%= fix_asset_track.price %></td>
            <td><%= fix_asset_track.proposer %></td>
            <!--<td><%= fix_asset_track.procurment_id %></td>-->
            <!--<td><%= fix_asset_track.procurment_date.blank? ? '' : fix_asset_track.procurment_date.localtime.strftime('%Y%m%d') %></td>-->
            <!--<td><%= fix_asset_track.supplier %></td>-->
            <!--<td><%= fix_asset_track.project %></td>-->
            <td><%= fix_asset_track.remark %></td>
            <!--<td><%= fix_asset_track.equipment_track_id %></td>-->
            <td>
              <%= link_to content_tag(:i, '', :class => 'fa fa-eye'), fix_asset_track, :class => "marco-btn-success", :title => "详情" %>
              <%= link_to content_tag(:i, '', :class => 'fa fa-pencil'), edit_fix_asset_track_path(fix_asset_track), :class => "marco-btn-primary", :title => "编辑" %>
              <%= link_to content_tag(:i, '', :class => 'fa fa-close'), fix_asset_track, method: :delete, data: {confirm: 'Are you sure?'}, :class => "marco-btn-danger", :title => "删除" %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="digg_pagination">
  <%= will_paginate @fix_asset_tracks, :container => false, params: params.to_unsafe_h %>
</div>
<br>


<script type="text/javascript">
  layout.date_picker('.datepicker');
</script>