<p id="notice"><%= notice %></p>

<h1>Fix Asset Tracks</h1>

<table>
  <thead>
    <tr>
      <th>Info receive date</th>
      <th>Apply</th>
      <th>Description</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Proposer</th>
      <th>Procurment</th>
      <th>Procurment date</th>
      <th>Supplier</th>
      <th>Project</th>
      <th>Completed</th>
      <th>Is add equipment</th>
      <th>Equipment nr</th>
      <th>Is add fix asset</th>
      <th>Nr</th>
      <th>Status</th>
      <th>Remark</th>
      <th>Equipment track</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fix_asset_tracks.each do |fix_asset_track| %>
      <tr>
        <td><%= fix_asset_track.info_receive_date %></td>
        <td><%= fix_asset_track.apply_id %></td>
        <td><%= fix_asset_track.description %></td>
        <td><%= fix_asset_track.qty %></td>
        <td><%= fix_asset_track.price %></td>
        <td><%= fix_asset_track.proposer %></td>
        <td><%= fix_asset_track.procurment_id %></td>
        <td><%= fix_asset_track.procurment_date %></td>
        <td><%= fix_asset_track.supplier %></td>
        <td><%= fix_asset_track.project %></td>
        <td><%= fix_asset_track.completed_id %></td>
        <td><%= fix_asset_track.is_add_equipment %></td>
        <td><%= fix_asset_track.equipment_nr %></td>
        <td><%= fix_asset_track.is_add_fix_asset %></td>
        <td><%= fix_asset_track.nr %></td>
        <td><%= fix_asset_track.status %></td>
        <td><%= fix_asset_track.remark %></td>
        <td><%= fix_asset_track.equipment_track_id %></td>
        <td><%= link_to 'Show', fix_asset_track %></td>
        <td><%= link_to 'Edit', edit_fix_asset_track_path(fix_asset_track) %></td>
        <td><%= link_to 'Destroy', fix_asset_track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fix Asset Track', new_fix_asset_track_path %>
