<p id="notice"><%= notice %></p>

<p>
  <strong>Info receive date:</strong>
  <%= @fix_asset_track.info_receive_date %>
</p>

<p>
  <strong>Apply:</strong>
  <%= @fix_asset_track.apply_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fix_asset_track.description %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @fix_asset_track.qty %>
</p>

<p>
  <strong>Price:</strong>
  <%= @fix_asset_track.price %>
</p>

<p>
  <strong>Proposer:</strong>
  <%= @fix_asset_track.proposer %>
</p>

<p>
  <strong>Procurment:</strong>
  <%= @fix_asset_track.procurment_id %>
</p>

<p>
  <strong>Procurment date:</strong>
  <%= @fix_asset_track.procurment_date %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @fix_asset_track.supplier %>
</p>

<p>
  <strong>Project:</strong>
  <%= @fix_asset_track.project %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @fix_asset_track.completed_id %>
</p>

<p>
  <strong>Is add equipment:</strong>
  <%= @fix_asset_track.is_add_equipment %>
</p>

<p>
  <strong>Equipment nr:</strong>
  <%= @fix_asset_track.equipment_nr %>
</p>

<p>
  <strong>Is add fix asset:</strong>
  <%= @fix_asset_track.is_add_fix_asset %>
</p>

<p>
  <strong>Nr:</strong>
  <%= @fix_asset_track.nr %>
</p>

<p>
  <strong>Status:</strong>
  <%= @fix_asset_track.status %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @fix_asset_track.remark %>
</p>

<p>
  <strong>Equipment track:</strong>
  <%= @fix_asset_track.equipment_track_id %>
</p>

<%= link_to 'Edit', edit_fix_asset_track_path(@fix_asset_track) %> |
<%= link_to 'Back', fix_asset_tracks_path %>
