<div id="equipment_depreciation">
  <ol class="breadcrumb">
    <li>设备跟踪</li>
    <li><%= link_to '设备折旧表', equipment_depreciations_path %></li>
    <li>{{action}}</li>
  </ol>

  <hr class="hr-grey"/>

  <%= form_for(equipment_depreciation) do |f| %>
      <% if equipment_depreciation.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(equipment_depreciation.errors.count, "error") %> prohibited this equipment_depreciation
              from being saved:</h2>

            <ul>
              <% equipment_depreciation.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="marco-npanel-default">
        <div class="marco-nheading">
          {{action}}
          <div class="pull-right">
            <button type="submit" class="marco-btn-normal">{{actionBtn}}</button>
          </div>
        </div>

        <div class="marco-nbody row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>折旧时间</span>
              <%= f.text_field :depreciation_time %>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>当月原值</span>
              <%= f.text_field :original_val %>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>当月折旧</span>
              <%= f.text_field :depreciation_val %>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>当月净值</span>
              <%= f.text_field :net_val %>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="marco-igroup-oee">
              <span>所属设备编号</span>
              <%= f.select(:equipment_track_id, EquipmentTrack.all.collect { |e| [e.nr, e.id] }, {include_blank: false}) %>
            </div>
          </div>

        </div>
      </div>
  <% end %>
</div>