<p id="notice"><%= notice %></p>

<h1>Equipment Depreciations</h1>

<div class="marco-nheading">
  设备折旧表
  <div class="pull-right">
    <%= link_to content_tag(:i, content_tag(:span, "导入数据 "), :class => "fa fa-cloud-upload"), import_equipment_depreciations_path %>

    <%= link_to content_tag(:i, content_tag(:span, "新建"), :class => "fa fa-plus-square"), new_equipment_depreciation_path %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>折旧时间</th>
      <th>当月原值</th>
      <th>当月折旧</th>
      <th>当月净值</th>
      <th>所属设备编号</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment_depreciations.each do |equipment_depreciation| %>
      <tr>
        <td><%= equipment_depreciation.depreciation_time.localtime.strftime('%Y/%m') %></td>
        <td><%= equipment_depreciation.original_val %></td>
        <td><%= equipment_depreciation.depreciation_val %></td>
        <td><%= equipment_depreciation.net_val %></td>
        <td><%= equipment_depreciation.equipment_track.nr %></td>
        <td><%= link_to 'Show', equipment_depreciation %></td>
        <td><%= link_to 'Edit', edit_equipment_depreciation_path(equipment_depreciation) %></td>
        <td><%= link_to 'Destroy', equipment_depreciation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

