<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li>设备跟踪</li>
  <li>设备跟踪列表</li>
</ol>

<hr class="hr-grey"/>

<div class="all-search row">
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>设备名称</span>
        <input type="text" name="equipment_track[name]" value="<%= @name %>"/>
        <input type="hidden" name="equipment_track[name_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>设备编号</span>
        <input type="text" name="equipment_track[nr]" value="<%= @nr %>"/>
        <input type="hidden" name="equipment_track[nr_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>固定资产号</span>
        <input type="text" name="equipment_track[asset_nr]" value="<%= @asset_nr %>"/>
        <input type="hidden" name="equipment_track[asset_nr_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>使用状态</span>
        <input type="text" name="equipment_track[status]" value="<%= @status %>"/>
        <input type="hidden" name="equipment_track[status_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="marco-igroup-oee">
        <span>购置日期</span>
        <input type="text" name="equipment_track[procurment_date][start]" class="datepicker" value="<%= @procurment_date_start %>"/>
        <span>~</span>
        <input type="text" name="equipment_track[procurment_date][end]" class="datepicker" value="<%= @procurment_date_end %>"/>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <button type="submit" class="marco-btn-default"  style="width: 100px; height: 40px; line-height: 40px;">查找</button>
      <button type="button" class="marco-btn-success" style="width: 100px; height: 40px; line-height: 40px;">导出</button>
    </div>
  </form>
</div>

<div class="marco-npanel-default">
  <div class="marco-nheading">
    设备跟踪列表
    <div class="pull-right">
      <%= link_to content_tag(:i, content_tag(:span, "导入数据 "), :class => "fa fa-cloud-upload"), import_equipment_tracks_path %>

      <%= link_to content_tag(:i, content_tag(:span, "新建"), :class => "fa fa-plus-square"), new_equipment_track_path %>
    </div>
  </div>


  <div class="marco-nbody" style="overflow: auto; padding: 0;">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>NO.</th>
        <!--<th>设备分级</th>-->
        <th>设备名称</th>
        <th>设备编号</th>
        <th>设备类型</th>
        <th>固定资产编号</th>
        <th>型号/规格/配置</th>
        <!--<th>Cutting生产编号</th>-->
        <!--<th>设备序列号</th>-->
        <!--<th>供应商</th>-->
        <th>使用状态</th>
        <!--<th>成本中心</th>-->
        <!--<th>使用部门</th>-->
        <!--<th>使用项目</th>-->
        <!--<th>使用位置</th>-->
        <!--<th>区域</th>-->
        <th>操作指导书</th>
        <th>维护指导书</th>
        <!--<th>说明书柜位</th>-->
        <!--<th>购置日期</th>-->
        <!--<th>放行周期(年）</th>-->
        <!--<th>预计再次放行时间</th>-->
        <!--<th>放行提醒</th>-->
        <!--<th>负责的工程师</th>-->
        <th>新设备</th>
        <th>备注</th>
        <th>操作</th>
      </tr>
      </thead>

      <tbody>
      <% @equipment_tracks.each_with_index do |equipment_track, i| %>
          <tr>
            <td><%= i+1 %></td>
            <!--<td><%= equipment_track.level %></td>-->
            <td><%= equipment_track.name %></td>
            <td><%= equipment_track.nr %></td>
            <td><%= EquipmentType.get_type_name equipment_track.type %></td>
            <td><%= equipment_track.asset_nr %></td>
            <td><%= equipment_track.description %></td>
            <!--<td><%= equipment_track.product_id %></td>-->
            <!--<td><%= equipment_track.equipment_serial_id %></td>-->
            <!--<td><%= equipment_track.supplier %></td>-->
            <td><%= equipment_track.status %></td>
            <!--<td><%= equipment_track.profit_center %></td>-->
            <!--<td><%= equipment_track.department %></td>-->
            <!--<td><%= equipment_track.project %></td>-->
            <!--<td><%= equipment_track.location %></td>-->
            <!--<td><%= equipment_track.area %></td>-->

            <td><%= equipment_track.operate_instructor %></td>
            <td><%= equipment_track.maintain_instructor %></td>

            <!--<td><%= equipment_track.position %></td>-->
            <!--<td><%= equipment_track.procurment_date %></td>-->
            <!--<td><%= equipment_track.release_cycle %></td>-->
            <!--<td><%= equipment_track.next_release %></td>-->
            <!--<td><%= equipment_track.release_notice %></td>-->
            <!--<td><%= equipment_track.responsibilityer %></td>-->

            <td><%= equipment_track.is_top ? '是' : '否' %></td>
            <td><%= equipment_track.remark %></td>
            <td>
              <%= link_to content_tag(:i, '', :class => 'fa fa-eye'), equipment_track, :class => "marco-btn-success", :title => "详情" %>
              <%= link_to content_tag(:i, '', :class => 'fa fa-pencil'), edit_equipment_track_path(equipment_track), :class => "marco-btn-primary", :title => "编辑" %>
              <%= link_to content_tag(:i, '', :class => 'fa fa-close'), equipment_track, method: :delete, data: {confirm: 'Are you sure?'}, :class => "marco-btn-danger", :title => "删除" %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <br>
</div>

<div class="digg_pagination">
  <%= will_paginate @equipment_tracks, :container => false, params: params.to_unsafe_h %>
</div>
<br>


<script type="text/javascript">
    layout.date_picker('.datepicker');
</script>

