<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li>盘点管理</li>
  <li>盘点区域</li>
</ol>

<hr class="hr-grey"/>

<div class="all-search row">
  <form method="get" action="<%= send("search_#{@model.pluralize}_path") %>">

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="marco-igroup-oee">
        <span>区域名称</span>
        <input type="text" name="area[name]" value="<%= @name %>"/>
        <input type="hidden" name="area[name_fuzzy]"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <button type="submit" class="marco-btn-default" style="width: 100px; height: 40px; line-height: 40px;">查找</button>
      <button type="button" class="marco-btn-success" style="width: 100px; height: 40px; line-height: 40px;">导出</button>
    </div>
  </form>
</div>

<div class="marco-npanel-default">
  <div class="marco-nheading">
    盘点区域列表
    <div class="pull-right">
      <%= link_to content_tag(:i, content_tag(:span, "新建"), :class => "fa fa-plus-square"), new_area_path %>
    </div>
  </div>

  <table class="marco-nbody table table-bordered">
    <thead>
    <tr>
      <th>NO.</th>
      <th>名称</th>
      <th>描述</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% @areas.each_with_index do |area, i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= area.name %></td>
          <td><%= area.desc %></td>
          <td>
            <%#= link_to content_tag(:i, '', :class => 'fa fa-eye'), area, :class => "marco-btn-success", :title => "详情" %>
            <%= link_to content_tag(:i, '', :class => 'fa fa-pencil'), edit_area_path(area), :class => "marco-btn-primary", :title => "编辑" %>
            <%= link_to content_tag(:i, '', :class => 'fa fa-close'), area, :class => "marco-btn-danger", :title => "删除" %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="digg_pagination">
  <%= will_paginate @areas, :container => false, params: params.to_unsafe_h %>
</div>