<%= form_for(user_inventory_task) do |f| %>
  <% if user_inventory_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_inventory_task.errors.count, "error") %> prohibited this user_inventory_task from being saved:</h2>

      <ul>
      <% user_inventory_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :inventory_list_id %>
    <%= f.text_field :inventory_list_id %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.number_field :type %>
  </div>

  <div class="field">
    <%= f.label :target_qty %>
    <%= f.number_field :target_qty %>
  </div>

  <div class="field">
    <%= f.label :real_qty %>
    <%= f.number_field :real_qty %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
