<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li>盘点管理</li>
  <li>盘点上传记录</li>
</ol>

<hr class="hr-grey"/>

<div class="marco-npanel-default">
  <div class="marco-nheading">
    盘点上传记录
    <!--<div class="pull-right">-->
      <!--<%= link_to content_tag(:i, content_tag(:span, "新建"), :class => "fa fa-plus-square"), new_user_inventory_task_path %>-->
    <!--</div>-->
  </div>

  <table class="marco-nbody table table-bordered">
    <thead>
    <tr>
      <th>User</th>
      <th>Inventory list</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Type</th>
      <th>Target qty</th>
      <th>Real qty</th>
      <th>状态</th>
      <th>数据文件</th>
      <th>错误文件</th>
      <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <% @user_inventory_tasks.each do |user_inventory_task| %>
        <tr>
          <td><%= user_inventory_task.user.name %></td>
          <td><%= user_inventory_task.inventory_list.name %></td>
          <td><%= user_inventory_task.start_time.localtime.strftime('%Y/%m/%d %H:%M') %></td>
          <td><%= user_inventory_task.end_time.localtime.strftime('%Y/%m/%d %H:%M') %></td>
          <td><%= FileUploadType.display user_inventory_task.type %></td>
          <td><%= user_inventory_task.target_qty %></td>
          <td><%= user_inventory_task.real_qty %></td>
          <td><%= UserInventoryTaskStatus.display user_inventory_task.status %></td>
          <td>
            <a href="http://<%= @http_host + user_inventory_task.data_file.path.url %>" target="_blank"> <%= @http_host + user_inventory_task.data_file.path.url %></a>
          </td>
          <td></td>
          <td>
            <%#= link_to content_tag(:i, '', :class => 'fa fa-eye'), user_inventory_task, :class => "marco-btn-primary", :title => "详情" %>
            <%= link_to content_tag(:i, '', :class => 'fa fa-pencil'), edit_user_inventory_task_path(user_inventory_task), :class => "marco-btn-primary", :title => "编辑" %>
            <%= link_to content_tag(:i, '', :class => 'fa fa-close'), user_inventory_task, method: :delete, data: {confirm: 'Are you sure?'}, :class => "marco-btn-danger", :title => "删除" %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>